SPRING_PROFILES_ACTIVE=prod

DB_URL=jdbc:postgresql://<RDS_ENDPOINT>:5432/jangingmall
DB_USERNAME=
DB_PASSWORD=

REDIS_HOST=<ELASTICACHE_ENDPOINT>
REDIS_PORT=6379

JWT_SECRET=

MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
EMAIL_VERIFICATION_URL=
EMAIL_VERIFICATION_SUCCESS_REDIRECT=
EMAIL_VERIFICATION_TTL_SECONDS=1800

OAUTH_FRONTEND_REDIRECT_URL=
OAUTH_HTTP_TIMEOUT_MILLIS=5000

KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=

MEMBER_RATE_LIMIT_ATTEMPTS=10
MEMBER_RATE_LIMIT_WINDOW_SECONDS=60

TOSS_CLIENT_KEY=
TOSS_SECRET_KEY=
TOSS_API_BASE_URL=https://api.tosspayments.com
PAYMENT_ORDER_EXPIRATION_SECONDS=1800

SWEET_TRACKER_API_KEY=
SWEET_TRACKER_API_BASE_URL=https://info.sweettracker.co.kr

AI_CHAT_BOT_URL=
AI_CONTENT_URL=
AI_TIMEOUT_SECONDS=30
AI_INTERNAL_AUTH_TOKEN=
GENERATION_DEADLINE_SECONDS=1861
GENERATION_POLL_SCAN_MILLIS=60000

BACKEND_AUTH_TOKEN=

AWS_REGION=ap-northeast-2
IMAGE_BASE_URL=
IMAGE_UPLOAD_BUCKET=
IMAGE_RETURN_BUCKET=
IMAGE_STORAGE_KEY_PREFIX=images
IMAGE_PRESIGN_EXPIRY_SECONDS=300
IMAGE_UNUSED_RETENTION_SECONDS=86400
IMAGE_MAX_FILE_SIZE_BYTES=10485760
IMAGE_CLEANUP_SCAN_MILLIS=60000
