{
    "openapi": "3.0.1",
    "info": {
        "title": "\uc7a5\uc778\ubab0 (\ubbf8\ub2f4) API",
        "description": "\uc7a5\uc778\ubab0(\ubbf8\ub2f4)\uc740 \uad6d\uac00\ubb34\ud615\uc720\uc0b0 \uc7a5\uc778\uc758 \uc791\ud488\uc744 \uc9c1\uc811 \uad6c\ub9e4\ud560 \uc218 \uc788\ub294 B2C \ub9c8\ucf13\ud50c\ub808\uc774\uc2a4\uc785\ub2c8\ub2e4.\n\ubcf8 \ubb38\uc11c\ub294 \uc7a5\uc778\ubab0 REST API\uc758 \uacf5\uc2dd \ub808\ud37c\ub7f0\uc2a4\uc785\ub2c8\ub2e4.\n\n## Quick Start\n\nAPI \uc5f0\ub3d9\uc740 3\ub2e8\uacc4\ub85c \uc2dc\uc791\ud569\ub2c8\ub2e4.\n\n**1\ub2e8\uacc4 \u2014 \ud68c\uc6d0\uac00\uc785 / \ub85c\uadf8\uc778**\n\n```http\nPOST /api/member/signup\nContent-Type: application/json\n\n{\n  \"email\": \"buyer@example.com\",\n  \"password\": \"P@ssw0rd!\",\n  \"name\": \"\ud64d\uae38\ub3d9\"\n}\n```\n\n**2\ub2e8\uacc4 \u2014 Access Token \ubc1c\uae09**\n\n```http\nPOST /api/member/login\nContent-Type: application/json\n\n{\n  \"email\": \"buyer@example.com\",\n  \"password\": \"P@ssw0rd!\"\n}\n```\n\n\uc751\ub2f5\uc758 `accessToken`\uc744 \uc800\uc7a5\ud569\ub2c8\ub2e4. Refresh Token\uc740 `Set-Cookie: refreshToken=...` \uc73c\ub85c \uc804\ub2ec\ub429\ub2c8\ub2e4.\n\n**3\ub2e8\uacc4 \u2014 \uc778\uc99d\uc774 \ud544\uc694\ud55c API \ud638\ucd9c**\n\n```http\nGET /api/member/me\nAuthorization: Bearer {accessToken}\n```\n\n---\n\n## \uc11c\ubc84 \ud658\uacbd (Base URL)\n\n| \ud658\uacbd | Base URL |\n|------|----------|\n| Production | `https://midam.store` |\n| Local | `http://localhost:8080` |\n\n---\n\n## \uc778\uc99d (Authentication)\n\n\uc7a5\uc778\ubab0 API\ub294 **JWT Bearer Token** \ubc29\uc2dd\uc744 \uc0ac\uc6a9\ud569\ub2c8\ub2e4.\n\n- `POST /api/member/login` \ub610\ub294 OAuth2 \ub85c\uadf8\uc778 \uc131\uacf5 \uc2dc `accessToken` \ubc1c\uae09\n- \ubaa8\ub4e0 \uc778\uc99d \ud544\uc694 API\uc5d0 `Authorization: Bearer {accessToken}` \ud5e4\ub354 \ud3ec\ud568\n- Access Token \ub9cc\ub8cc(`401 UNAUTHORIZED`) \uc2dc `POST /api/member/token/refresh` \ud638\ucd9c\n\n```http\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...\n```\n\n**OAuth2 \uc18c\uc15c \ub85c\uadf8\uc778** (\uce74\uce74\uc624 / \ub124\uc774\ubc84)\n\n1. `GET /api/member/oauth2/{provider}` \u2192 \uc18c\uc15c \ub85c\uadf8\uc778 \ud398\uc774\uc9c0 \ub9ac\ub2e4\uc774\ub809\ud2b8\n2. \uc778\uc99d \uc644\ub8cc \ud6c4 \ud504\ub860\ud2b8\uc5d4\ub4dc \ucf5c\ubc31 URL\ub85c `code` \ud30c\ub77c\ubbf8\ud130 \uc804\ub2ec\n3. `POST /api/member/oauth2/exchange` \u2192 `accessToken` \uad50\ud658\n\n---\n\n## \uacf5\ud1b5 \uc694\uccad \ud615\uc2dd\n\n```http\nContent-Type: application/json\nAccept: application/json\nAuthorization: Bearer {accessToken}   # \uc778\uc99d \ud544\uc694 API\n```\n\n\ub0a0\uc9dc/\uc2dc\uac04\uc740 \ubaa8\ub450 **ISO 8601** \ud615\uc2dd(`2025-01-15T09:30:00Z`)\uc73c\ub85c \uc8fc\uace0\ubc1b\uc2b5\ub2c8\ub2e4.\n\n---\n\n## \uacf5\ud1b5 \uc751\ub2f5 \ud615\uc2dd\n\n**\uc131\uacf5**\n\n```json\n{\n  \"success\": true,\n  \"status\": 200,\n  \"data\": { ... }\n}\n```\n\n**\uc2e4\ud328**\n\n```json\n{\n  \"success\": false,\n  \"status\": 400,\n  \"errorCode\": \"INVALID_INPUT\",\n  \"message\": \"\uc785\ub825\uac12\uc774 \uc62c\ubc14\ub974\uc9c0 \uc54a\uc2b5\ub2c8\ub2e4\"\n}\n```\n\n---\n\n## \uacf5\ud1b5 \uc5d0\ub7ec \ucf54\ub4dc\n\n\uc544\ub798 \uc5d0\ub7ec \ucf54\ub4dc\ub294 \uba85\uc2dc \uc5ec\ubd80\uc640 \ubb34\uad00\ud558\uac8c **\ubaa8\ub4e0 \uc5d4\ub4dc\ud3ec\uc778\ud2b8\uc5d0 \uacf5\ud1b5 \uc801\uc6a9**\ub429\ub2c8\ub2e4.\n\uac01 \uc5d4\ub4dc\ud3ec\uc778\ud2b8 \uc751\ub2f5 \ubaa9\ub85d\uc5d0\ub294 \ud574\ub2f9 \ube44\uc988\ub2c8\uc2a4 \ub85c\uc9c1\uc5d0 \ud2b9\ud654\ub41c \uc5d0\ub7ec\ub9cc \ucd94\uac00\ub85c \ud45c\uc2dc\ub429\ub2c8\ub2e4.\n\n| HTTP | errorCode | \ubc1c\uc0dd \uc870\uac74 |\n|------|-----------|-----------|\n| 400 | INVALID_INPUT | `@Valid` \ud544\ub4dc \uac80\uc99d \uc2e4\ud328 |\n| 400 | REQUEST_INVALID | Content-Type \ubd88\uc77c\uce58, \ud0c0\uc785 \ubcc0\ud658 \uc2e4\ud328 |\n| 400 | REQUEST_BODY_MALFORMED | \ud30c\uc2f1 \ubd88\uac00\ud55c \uc694\uccad \ubc14\ub514 |\n| 401 | UNAUTHORIZED | \uc778\uc99d \ud1a0\ud070 \uc5c6\uc74c \ub610\ub294 \ub9cc\ub8cc |\n| 403 | FORBIDDEN | \uad8c\ud55c \uc5c6\uc74c (\ud0c0 \uc0ac\uc6a9\uc790 \ub9ac\uc18c\uc2a4 \uc811\uadfc \ub4f1) |\n| 404 | NOT_FOUND | \ub9ac\uc18c\uc2a4\ub97c \ucc3e\uc744 \uc218 \uc5c6\uc74c |\n| 409 | CONFLICT | \uc911\ubcf5 \ub9ac\uc18c\uc2a4 (\uc774\uba54\uc77c, \ucc1c \ub4f1) |\n| 422 | BUSINESS_RULE_VIOLATION | \ube44\uc988\ub2c8\uc2a4 \uaddc\uce59 \uc704\ubc18 (\uc0c1\ud0dc \uc804\uc774 \ubd88\uac00 \ub4f1) |\n| 429 | TOO_MANY_REQUESTS | \uc694\uccad \ud69f\uc218 \ucd08\uacfc |\n| 500 | INTERNAL_ERROR | \uc11c\ubc84 \ub0b4\ubd80 \uc624\ub958 |\n\n---\n\n## \ud398\uc774\uc9c0\ub124\uc774\uc158\n\n### \uc624\ud504\uc14b \ud398\uc774\uc9c0\ub124\uc774\uc158\n\n`page`(0-based), `size`(\uae30\ubcf8 20) \ucffc\ub9ac \ud30c\ub77c\ubbf8\ud130\ub85c \uc804\ub2ec\ud569\ub2c8\ub2e4.\n\n```\nGET /api/products?page=0&size=20\n```\n\n```json\n{\n  \"content\": [...],\n  \"totalElements\": 100,\n  \"totalPages\": 5,\n  \"number\": 0,\n  \"size\": 20,\n  \"first\": true,\n  \"last\": false\n}\n```\n\n### \ucee4\uc11c \ud398\uc774\uc9c0\ub124\uc774\uc158\n\n`cursor`(\uccab \uc694\uccad \uc2dc \uc0dd\ub7b5), `size`(\uae30\ubcf8 20) \ucffc\ub9ac \ud30c\ub77c\ubbf8\ud130\ub85c \uc804\ub2ec\ud569\ub2c8\ub2e4.\n\n```\nGET /api/artisans/subscriptions?size=20\nGET /api/artisans/subscriptions?cursor=eyJpZCI6MTB9&size=20\n```\n\n```json\n{\n  \"items\": [...],\n  \"nextCursor\": \"eyJpZCI6MX0=\",\n  \"hasNext\": true,\n  \"totalCount\": 100\n}\n```\n\n`hasNext`\uac00 `false`\uc774\uba74 \ub9c8\uc9c0\ub9c9 \ud398\uc774\uc9c0\uc785\ub2c8\ub2e4. `nextCursor`\ub294 \ubd88\ud22c\uba85 Base64 \ud1a0\ud070\uc73c\ub85c \ud30c\uc2f1\ud558\uc9c0 \ub9d0\uace0 \uadf8\ub300\ub85c \uc804\ub2ec\ud558\uc138\uc694.\n\n---\n\n## \ud5ec\uc2a4\uccb4\ud06c / \uc778\ud504\ub77c\n\n| \uacbd\ub85c | \ud3ec\ud2b8 | \uc6a9\ub3c4 |\n|------|------|------|\n| `/healthz` | 8080 | ALB \ud5ec\uc2a4\uccb4\ud06c (ping, \uc778\uc99d \ubd88\ud544\uc694) |\n| `/actuator/health/liveness` | 9090 | Liveness probe |\n| `/actuator/health/readiness` | 9090 | Readiness probe |\n| `/actuator/prometheus` | 9090 | Prometheus \uba54\ud2b8\ub9ad \uc2a4\ud06c\ub808\uc774\ud551 |\n\n---\n\n## \ubb38\uc758\n\n\uae30\uc220 \ubb38\uc758: GitHub Issues\n\n\n---\n\n## \ub2e4\ub978 \ud615\uc2dd\uc73c\ub85c \ubcf4\uae30\n\n| \ud615\uc2dd | \ub300\uc0c1 | \ub9c1\ud06c |\n|------|------|------|\n| Redoc \ubb38\uc11c | \ubaa8\ub4e0 \ud300 | [jangingmall.github.io/backend/](https://jangingmall.github.io/backend/) |\n| OpenAPI JSON | \uac1c\ubc1c\uc790 | [openapi.json](./openapi.json) |\n| Postman Collection | QA \ud300 | [postman.json](./postman.json) |\n| TypeScript \ud0c0\uc785 | FE \ud300 | [types.d.ts](./types.d.ts) |\n| API \uc694\uc57d | PM/\uae30\ud68d | [summary.html](./summary.html) |\n",
        "version": "0.0.1-SNAPSHOT"
    },
    "servers": [
        {
            "url": "https://midam.store",
            "description": "Production"
        },
        {
            "url": "http://localhost:8080",
            "description": "Local"
        }
    ],
    "tags": [
        {
            "name": "AI \ucf58\ud150\uce20 \uc0dd\uc131"
        },
        {
            "name": "AI \ucf5c\ubc31 (\ub0b4\ubd80)"
        },
        {
            "name": "\uacb0\uc81c"
        },
        {
            "name": "\uacb0\uc81c\uc218\ub2e8"
        },
        {
            "name": "\ub9ac\ubdf0"
        },
        {
            "name": "\ubc18\ud488/\uad50\ud658"
        },
        {
            "name": "\ubc30\uc1a1"
        },
        {
            "name": "\ubc30\uc1a1\uc9c0"
        },
        {
            "name": "\uc0c1\ud488"
        },
        {
            "name": "\uc0c1\ud488 \ubb38\uc758"
        },
        {
            "name": "\uc0c1\ud488 \ud6c4\uae30"
        },
        {
            "name": "\uc18c\uc15c \ub85c\uadf8\uc778"
        },
        {
            "name": "\uc54c\ub9bc"
        },
        {
            "name": "\uc774\ubbf8\uc9c0"
        },
        {
            "name": "\uc7a5\ubc14\uad6c\ub2c8"
        },
        {
            "name": "\uc7a5\uc778"
        },
        {
            "name": "\uc7a5\uc778 \uad6c\ub3c5"
        },
        {
            "name": "\uc8fc\ubb38"
        },
        {
            "name": "\ucc1c"
        },
        {
            "name": "\ucc57\ubd07"
        },
        {
            "name": "\uce74\ud14c\uace0\ub9ac"
        },
        {
            "name": "\ucf58\ud150\uce20"
        },
        {
            "name": "\ud310\ub9e4\uc790 \uc2e0\uccad"
        },
        {
            "name": "\ud310\ub9e4\uc790 \uc2e0\uccad (\uad00\ub9ac\uc790)"
        },
        {
            "name": "\ud68c\uc6d0"
        },
        {
            "name": "\ud68c\uc6d0 \uacc4\uc815"
        }
    ],
    "paths": {
        "/api/notifications": {
            "get": {
                "tags": [
                    "\uc54c\ub9bc"
                ],
                "summary": "\uc54c\ub9bc \ubaa9\ub85d \uc870\ud68c",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\ub85c\uadf8\uc778\ud55c \ud68c\uc6d0\uc758 \uc54c\ub9bc \ubaa9\ub85d\uc744 \ucd5c\uc2e0\uc21c\uc73c\ub85c \uc870\ud68c\ud569\ub2c8\ub2e4.\n\n**NotificationStatus**\n\n| \uac12 | \uc124\uba85 |\n|---|---|\n| `UNREAD` | \uc77d\uc9c0 \uc54a\uc74c |\n| `READ` | \uc77d\uc74c |\n| `DELETED` | \uc0ad\uc81c\ub428 |",
                "operationId": "notification-list-200",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-notifications-977530391"
                                },
                                "examples": {
                                    "notification-list-200": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": [
                                                {
                                                    "id": 1,
                                                    "title": "\uc8fc\ubb38 \uc644\ub8cc",
                                                    "content": "\uccad\uc790 \uc0c1\uac10 \ub2e4\uc644 \uc8fc\ubb38\uc774 \uc811\uc218\ub418\uc5c8\uc2b5\ub2c8\ub2e4.",
                                                    "status": "UNREAD",
                                                    "createdAt": "2026-09-01T10:00:00"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            },
            "post": {
                "tags": [
                    "\uc54c\ub9bc"
                ],
                "summary": "\uc54c\ub9bc \uc0dd\uc131",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc54c\ub9bc\uc744 \uc0dd\uc131\ud558\uace0 SSE \uad6c\ub3c5\uc790\uc5d0\uac8c \uc2e4\uc2dc\uac04\uc73c\ub85c \uc804\uc1a1\ud569\ub2c8\ub2e4.\n\n**NotificationStatus**\n\n| \uac12 | \uc124\uba85 |\n|---|---|\n| `UNREAD` | \uc77d\uc9c0 \uc54a\uc74c |\n| `READ` | \uc77d\uc74c |\n| `DELETED` | \uc0ad\uc81c\ub428 |",
                "operationId": "notification-create-200",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api-notifications728957461"
                            },
                            "examples": {
                                "notification-create-200": {
                                    "value": {
                                        "title": "\uc8fc\ubb38 \uc644\ub8cc",
                                        "content": "\uccad\uc790 \uc0c1\uac10 \ub2e4\uc644 \uc8fc\ubb38\uc774 \uc811\uc218\ub418\uc5c8\uc2b5\ub2c8\ub2e4."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "201",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-notifications2012318619"
                                },
                                "examples": {
                                    "notification-create-200": {
                                        "value": {
                                            "success": true,
                                            "status": 201,
                                            "data": {
                                                "id": 1,
                                                "title": "\uc8fc\ubb38 \uc644\ub8cc",
                                                "content": "\uccad\uc790 \uc0c1\uac10 \ub2e4\uc644 \uc8fc\ubb38\uc774 \uc811\uc218\ub418\uc5c8\uc2b5\ub2c8\ub2e4.",
                                                "status": "UNREAD",
                                                "createdAt": "2026-09-01T10:00:00"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/payments": {
            "post": {
                "tags": [
                    "\uacb0\uc81c"
                ],
                "summary": "\uacb0\uc81c \uc900\ube44",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\ud1a0\uc2a4\ud398\uc774\uba3c\uce20 \uc704\uc82f \ucd08\uae30\ud654\uc5d0 \ud544\uc694\ud55c `tossClientKey`\uc640 `paymentId`\ub97c \ubc18\ud658\ud569\ub2c8\ub2e4.\n\n**\ud750\ub984**: FE\ub294 \uc774 \uac12\uc73c\ub85c \uc704\uc82f\uc744 \ub9c8\uc6b4\ud2b8 \u2192 \uc0ac\uc6a9\uc790\uac00 \uacb0\uc81c\uc218\ub2e8 \uc120\ud0dd \u2192 `POST /api/payments/confirm` \ud638\ucd9c\n\n**\uc815\ucc45**\n- \ucd5c\ucd08 \uc900\ube44: 201 Created\n- \uae30\uc874 READY \uc0c1\ud0dc \uc7ac\uc0ac\uc6a9: 200 OK\n- PG: \ud1a0\uc2a4\ud398\uc774\uba3c\uce20 (\uc2e4\uc2dc\uac04 \uacc4\uc88c\uc774\uccb4\u00b7\ubb34\ud1b5\uc7a5\u00b7\uac04\ud3b8\uacb0\uc81c\u00b7\uce74\ub4dc)",
                "operationId": "payment-prepare",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api-payments999605347"
                            },
                            "examples": {
                                "payment-prepare": {
                                    "value": {
                                        "orderId": 100,
                                        "amount": 25000,
                                        "paymentMethod": "CARD"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "201",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-payments316824518"
                                },
                                "examples": {
                                    "payment-prepare": {
                                        "value": {
                                            "success": true,
                                            "status": 201,
                                            "data": {
                                                "paymentId": 200,
                                                "orderId": 100,
                                                "amount": 25000,
                                                "tossClientKey": "ck",
                                                "created": true
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/products": {
            "get": {
                "tags": [
                    "\uc0c1\ud488"
                ],
                "summary": "\uc0c1\ud488 \ubaa9\ub85d",
                "description": "\ud83d\udd13 **\uc778\uc99d \ubd88\ud544\uc694**\n\n\ud310\ub9e4 \uc911 \uc0c1\ud488 \ubaa9\ub85d\uc744 \ud544\ud130\uc640 \ud568\uaed8 \uc870\ud68c\ud569\ub2c8\ub2e4.\n- sort: NEWEST(\uae30\ubcf8) | PRICE_ASC | PRICE_DESC | POPULAR\n- excludeSoldOut=true \uc774\uba74 ON_SALE\ub9cc \ubc18\ud658 (\uae30\ubcf8: ON_SALE+SOLD_OUT \ud3ec\ud568)",
                "operationId": "product-list",
                "parameters": [
                    {
                        "name": "keyword",
                        "in": "query",
                        "description": "\uc0c1\ud488\uba85 \uac80\uc0c9\uc5b4 (\uc120\ud0dd)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "categoryId",
                        "in": "query",
                        "description": "\uce74\ud14c\uace0\ub9ac ID (\uc120\ud0dd)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subcategoryId",
                        "in": "query",
                        "description": "\uc11c\ube0c\uce74\ud14c\uace0\ub9ac ID (\uc120\ud0dd)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "giftTheme",
                        "in": "query",
                        "description": "\uc120\ubb3c \ud14c\ub9c8 (\uc120\ud0dd)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "\uc815\ub82c: NEWEST | PRICE_ASC | PRICE_DESC | POPULAR",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "minPrice",
                        "in": "query",
                        "description": "\ucd5c\uc18c \uac00\uaca9 (\uc120\ud0dd)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "maxPrice",
                        "in": "query",
                        "description": "\ucd5c\ub300 \uac00\uaca9 (\uc120\ud0dd)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "excludeSoldOut",
                        "in": "query",
                        "description": "\ud488\uc808 \uc81c\uc678 \uc5ec\ubd80 (\uae30\ubcf8: false)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "artisanId",
                        "in": "query",
                        "description": "\ud2b9\uc815 \uc7a5\uc778\uc758 \uc0c1\ud488\ub9cc \uc870\ud68c (\uc120\ud0dd)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "\ud398\uc774\uc9c0 \ubc88\ud638 (0\ubd80\ud130, \uae30\ubcf8: 0)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "\ud398\uc774\uc9c0 \ud06c\uae30 (\uae30\ubcf8: 20)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-products-me-2131279592"
                                },
                                "examples": {
                                    "product-list": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "content": [
                                                    {
                                                        "productId": 1,
                                                        "artisanId": 10,
                                                        "categoryId": 1,
                                                        "categoryName": "\ub3c4\uc790\uae30",
                                                        "subcategoryId": 2,
                                                        "subcategoryName": "\uccad\uc790",
                                                        "title": "\uccad\uc790 \ub2e4\uc644",
                                                        "description": "\uace0\ub824 \uccad\uc790 \ub2e4\uc644",
                                                        "price": 85000,
                                                        "stock": 10,
                                                        "thumbnailUrl": "https://example.com/thumb.jpg",
                                                        "status": "DRAFT",
                                                        "createdAt": "2026-09-03T10:00:00",
                                                        "updatedAt": "2026-09-03T10:00:00",
                                                        "giftThemes": [
                                                            "BIRTHDAY_60TH"
                                                        ],
                                                        "purposeTags": [
                                                            "\ub2e4\ub3c4"
                                                        ],
                                                        "productionPeriodDays": 14,
                                                        "colors": [
                                                            "BLUE"
                                                        ]
                                                    }
                                                ],
                                                "empty": false,
                                                "first": true,
                                                "last": true,
                                                "number": 0,
                                                "numberOfElements": 1,
                                                "pageable": "INSTANCE",
                                                "size": 1,
                                                "sort": {
                                                    "empty": true,
                                                    "sorted": false,
                                                    "unsorted": true
                                                },
                                                "totalElements": 1,
                                                "totalPages": 1
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "PUBLIC",
                "security": [
                    
                ]
            },
            "post": {
                "tags": [
                    "\uc0c1\ud488"
                ],
                "summary": "\uc0c1\ud488 \ub4f1\ub85d",
                "description": "\ud83d\udee0 **ARTISAN** (\ud310\ub9e4\uc790)\n\n\uc7a5\uc778\uc774 \uc2e0\uaddc \uc0c1\ud488\uc744 DRAFT \uc0c1\ud0dc\ub85c \ub4f1\ub85d\ud569\ub2c8\ub2e4.",
                "operationId": "product-create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api-products-467839916"
                            },
                            "examples": {
                                "product-create-unauthorized": {
                                    "value": {
                                        "categoryId": null,
                                        "subcategoryId": null,
                                        "title": "\uccad\uc790 \ub2e4\uc644",
                                        "description": null,
                                        "price": 85000,
                                        "stock": 10,
                                        "thumbnailUrl": null,
                                        "giftThemes": [
                                            
                                        ],
                                        "purposeTags": [
                                            
                                        ],
                                        "productionPeriodDays": null,
                                        "colors": [
                                            
                                        ]
                                    }
                                },
                                "product-create-forbidden": {
                                    "value": {
                                        "categoryId": null,
                                        "subcategoryId": null,
                                        "title": "\uccad\uc790 \ub2e4\uc644",
                                        "description": null,
                                        "price": 85000,
                                        "stock": 10,
                                        "thumbnailUrl": null,
                                        "giftThemes": [
                                            
                                        ],
                                        "purposeTags": [
                                            
                                        ],
                                        "productionPeriodDays": null,
                                        "colors": [
                                            
                                        ]
                                    }
                                },
                                "product-create": {
                                    "value": {
                                        "categoryId": 1,
                                        "subcategoryId": 2,
                                        "title": "\uccad\uc790 \ub2e4\uc644",
                                        "description": "\uace0\ub824 \uccad\uc790 \ub2e4\uc644",
                                        "price": 85000,
                                        "stock": 10,
                                        "thumbnailUrl": "https://example.com/thumb.jpg",
                                        "giftThemes": [
                                            "BIRTHDAY_60TH"
                                        ],
                                        "purposeTags": [
                                            "\ub2e4\ub3c4"
                                        ],
                                        "productionPeriodDays": 14,
                                        "colors": [
                                            "BLUE"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "description": "401",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-signup16218693"
                                },
                                "examples": {
                                    "product-create-unauthorized": {
                                        "value": {
                                            "success": false,
                                            "status": 401,
                                            "errorCode": "UNAUTHORIZED",
                                            "message": "\uc778\uc99d\uc774 \ud544\uc694\ud569\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "403",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-signup16218693"
                                },
                                "examples": {
                                    "product-create-forbidden": {
                                        "value": {
                                            "success": false,
                                            "status": 403,
                                            "errorCode": "FORBIDDEN",
                                            "message": "\uc811\uadfc \uad8c\ud55c\uc774 \uc5c6\uc2b5\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "201",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-products288555837"
                                },
                                "examples": {
                                    "product-create": {
                                        "value": {
                                            "success": true,
                                            "status": 201,
                                            "data": {
                                                "productId": 1,
                                                "artisanId": 10,
                                                "categoryId": 1,
                                                "categoryName": "\ub3c4\uc790\uae30",
                                                "subcategoryId": 2,
                                                "subcategoryName": "\uccad\uc790",
                                                "title": "\uccad\uc790 \ub2e4\uc644",
                                                "description": "\uace0\ub824 \uccad\uc790 \ub2e4\uc644",
                                                "price": 85000,
                                                "stock": 10,
                                                "thumbnailUrl": "https://example.com/thumb.jpg",
                                                "status": "DRAFT",
                                                "createdAt": "2026-09-03T10:00:00",
                                                "updatedAt": "2026-09-03T10:00:00",
                                                "giftThemes": [
                                                    "BIRTHDAY_60TH"
                                                ],
                                                "purposeTags": [
                                                    "\ub2e4\ub3c4"
                                                ],
                                                "productionPeriodDays": 14,
                                                "colors": [
                                                    "BLUE"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "ARTISAN"
            }
        },
        "/api/chatbot/sessions": {
            "post": {
                "tags": [
                    "\ucc57\ubd07"
                ],
                "summary": "\ucc57\ubd07 \uc138\uc158 \uc0dd\uc131",
                "description": "\ud83d\udd13 **\uc778\uc99d \ubd88\ud544\uc694**\n\n\uc18c\ube44\uc790\uac00 \uc0c8 \ucc57\ubd07 \ub300\ud654 \uc138\uc158\uc744 \uc0dd\uc131\ud569\ub2c8\ub2e4.",
                "operationId": "chatbot-session-create",
                "responses": {
                    "201": {
                        "description": "201",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-chatbot-sessions-881852531"
                                },
                                "examples": {
                                    "chatbot-session-create": {
                                        "value": {
                                            "success": true,
                                            "status": 201,
                                            "data": {
                                                "sessionId": "11111111-1111-1111-1111-111111111111",
                                                "expiresInSeconds": 3600
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "PUBLIC",
                "security": [
                    
                ]
            }
        },
        "/api/images/presigned-url": {
            "post": {
                "tags": [
                    "\uc774\ubbf8\uc9c0"
                ],
                "summary": "Presigned URL \ubc1c\uae09 (AGENT)",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\nAI AGENT\uac00 \ud2b9\uc815 \ud68c\uc6d0 \ub300\uc2e0 \uc5c5\ub85c\ub4dc URL\uc744 \ubc1c\uae09\ud569\ub2c8\ub2e4. memberId \ud544\uc218.",
                "operationId": "image-presigned-url",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api-images-presigned-url-449903825"
                            },
                            "examples": {
                                "image-presigned-url-agent": {
                                    "value": {
                                        "fileName": "product.webp",
                                        "contentType": "image/webp",
                                        "purpose": "PRODUCT",
                                        "sourceWidth": 1200,
                                        "sourceHeight": 800,
                                        "variants": [
                                            "320w"
                                        ],
                                        "memberId": 42
                                    }
                                },
                                "image-presigned-url": {
                                    "value": {
                                        "fileName": "bowl.webp",
                                        "contentType": "image/webp",
                                        "purpose": "PRODUCT",
                                        "sourceWidth": 1200,
                                        "sourceHeight": 800,
                                        "variants": [
                                            "320w"
                                        ],
                                        "memberId": null
                                    }
                                },
                                "image-presigned-url-agent-no-member-id": {
                                    "value": {
                                        "fileName": "product.webp",
                                        "contentType": "image/webp",
                                        "purpose": "PRODUCT",
                                        "sourceWidth": 1200,
                                        "sourceHeight": 800,
                                        "variants": [
                                            "320w"
                                        ],
                                        "memberId": null
                                    }
                                },
                                "image-presigned-url-unauthorized": {
                                    "value": {
                                        "fileName": "bowl.webp",
                                        "contentType": "image/webp",
                                        "purpose": "PRODUCT",
                                        "sourceWidth": 1200,
                                        "sourceHeight": 800,
                                        "variants": [
                                            "320w"
                                        ],
                                        "memberId": null
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-images-presigned-url-1900015981"
                                },
                                "examples": {
                                    "image-presigned-url-agent": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "imageId": "01JAGENT00000000000000000",
                                                "uploads": [
                                                    {
                                                        "variant": "320w",
                                                        "objectKey": "images/product/42/id/320w.webp",
                                                        "presignedUrl": "https://s3.example/320w",
                                                        "viewUrl": "https://img.example/images/product/42/id/320w.webp",
                                                        "uploadUrl": "https://s3.example/320w"
                                                    }
                                                ],
                                                "expiresInSeconds": 300,
                                                "variants": [
                                                    {
                                                        "variant": "320w",
                                                        "objectKey": "images/product/42/id/320w.webp",
                                                        "presignedUrl": "https://s3.example/320w",
                                                        "viewUrl": "https://img.example/images/product/42/id/320w.webp",
                                                        "uploadUrl": "https://s3.example/320w"
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "image-presigned-url": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "imageId": "01JIMAGE000000000000000000",
                                                "uploads": [
                                                    {
                                                        "variant": "320w",
                                                        "objectKey": "images/product/1/id/320w.webp",
                                                        "presignedUrl": "https://s3.example/320w",
                                                        "viewUrl": "https://img.example/images/product/1/id/320w.webp",
                                                        "uploadUrl": "https://s3.example/320w"
                                                    }
                                                ],
                                                "expiresInSeconds": 300,
                                                "variants": [
                                                    {
                                                        "variant": "320w",
                                                        "objectKey": "images/product/1/id/320w.webp",
                                                        "presignedUrl": "https://s3.example/320w",
                                                        "viewUrl": "https://img.example/images/product/1/id/320w.webp",
                                                        "uploadUrl": "https://s3.example/320w"
                                                    }
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-signup16218693"
                                },
                                "examples": {
                                    "image-presigned-url-agent-no-member-id": {
                                        "value": {
                                            "success": false,
                                            "status": 400,
                                            "errorCode": "INVALID_INPUT",
                                            "message": "\uc785\ub825\uac12 \uc720\ud6a8\uc131 \uc624\ub958"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-signup16218693"
                                },
                                "examples": {
                                    "image-presigned-url-unauthorized": {
                                        "value": {
                                            "success": false,
                                            "status": 401,
                                            "errorCode": "UNAUTHORIZED",
                                            "message": "\uc778\uc99d\uc774 \ud544\uc694\ud569\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/images/{imageId}": {
            "delete": {
                "tags": [
                    "\uc774\ubbf8\uc9c0"
                ],
                "summary": "\ubbf8\uc0ac\uc6a9 \uc774\ubbf8\uc9c0 \uc0ad\uc81c",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc544\uc9c1 \uc0c1\ud488\uc5d0 \uc5f0\uacb0\ub418\uc9c0 \uc54a\uc740 \uc784\uc2dc \uc774\ubbf8\uc9c0\ub97c \uc0ad\uc81c\ud569\ub2c8\ub2e4.",
                "operationId": "image-delete",
                "parameters": [
                    {
                        "name": "imageId",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "409": {
                        "description": "409",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-signup16218693"
                                },
                                "examples": {
                                    "image-delete-conflict": {
                                        "value": {
                                            "success": false,
                                            "status": 409,
                                            "errorCode": "CONFLICT",
                                            "message": "\ub9ac\uc18c\uc2a4 \ucda9\ub3cc\uc774 \ubc1c\uc0dd\ud588\uc2b5\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "403",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-signup16218693"
                                },
                                "examples": {
                                    "image-delete-forbidden": {
                                        "value": {
                                            "success": false,
                                            "status": 403,
                                            "errorCode": "FORBIDDEN",
                                            "message": "\uc811\uadfc \uad8c\ud55c\uc774 \uc5c6\uc2b5\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-payments-fail-521794704"
                                },
                                "examples": {
                                    "image-delete": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/member/artisans": {
            "get": {
                "tags": [
                    "\uc7a5\uc778"
                ],
                "summary": "\uc7a5\uc778 \ubaa9\ub85d \uc870\ud68c",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc7a5\uc778 \ubaa9\ub85d\uc744 \ud398\uc774\uc9c0\ub124\uc774\uc158\uc73c\ub85c \ubc18\ud658\ud569\ub2c8\ub2e4. sort \uac12: POPULAR, MOST_PRODUCTS, RECENTLY_JOINED",
                "operationId": "artisan-list",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-artisans-1902721574"
                                },
                                "examples": {
                                    "artisan-list": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "content": [
                                                    {
                                                        "category": "\ub3c4\uc608",
                                                        "businessName": "\uae40\ub3c4\uacf5 \ub3c4\uc608",
                                                        "careerYears": 15,
                                                        "introduction": "\uc804\ud1b5 \ub3c4\uc790\uae30\ub97c \ube5a\ub294 \uc7a5\uc778\uc785\ub2c8\ub2e4.",
                                                        "region": "\uacbd\uae30\ub3c4 \uc774\ucc9c",
                                                        "artisanId": 10
                                                    }
                                                ],
                                                "empty": false,
                                                "first": true,
                                                "last": true,
                                                "number": 0,
                                                "numberOfElements": 1,
                                                "pageable": "INSTANCE",
                                                "size": 1,
                                                "sort": {
                                                    "empty": true,
                                                    "sorted": false,
                                                    "unsorted": true
                                                },
                                                "totalElements": 1,
                                                "totalPages": 1
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/member/login": {
            "post": {
                "tags": [
                    "\ud68c\uc6d0"
                ],
                "summary": "\ub85c\uadf8\uc778",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc774\uba54\uc77c + \ube44\ubc00\ubc88\ud638\ub85c \ub85c\uadf8\uc778\ud569\ub2c8\ub2e4. Refresh Token\uc740 HttpOnly \ucfe0\ud0a4\ub85c \ubc1c\uae09\ub429\ub2c8\ub2e4.",
                "operationId": "member-login",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api-member-login-1429029385"
                            },
                            "examples": {
                                "member-login-unauthorized": {
                                    "value": {
                                        "email": "artisan@example.com",
                                        "password": "wrong-password"
                                    }
                                },
                                "member-login": {
                                    "value": {
                                        "email": "artisan@example.com",
                                        "password": "password"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "description": "401",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-signup16218693"
                                },
                                "examples": {
                                    "member-login-unauthorized": {
                                        "value": {
                                            "success": false,
                                            "status": 401,
                                            "errorCode": "UNAUTHORIZED",
                                            "message": "\uc778\uc99d\uc774 \ud544\uc694\ud569\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-login-1685410096"
                                },
                                "examples": {
                                    "member-login": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "accessToken": "access-token",
                                                "member": {
                                                    "memberId": 1,
                                                    "email": "artisan@example.com",
                                                    "name": "\uae40\ub3c4\uacf5",
                                                    "nickname": null,
                                                    "role": "USER",
                                                    "profileImageUrl": null,
                                                    "provider": null,
                                                    "phone": "01012345678"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/member/logout": {
            "post": {
                "tags": [
                    "\ud68c\uc6d0"
                ],
                "summary": "\ub85c\uadf8\uc544\uc6c3",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\nRefresh Token \ucfe0\ud0a4\ub97c \ub9cc\ub8cc\uc2dc\ud0b5\ub2c8\ub2e4.",
                "operationId": "member-logout",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-payments-fail-521794704"
                                },
                                "examples": {
                                    "member-logout": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/member/me": {
            "get": {
                "tags": [
                    "\ud68c\uc6d0"
                ],
                "summary": "\ub0b4 \uc815\ubcf4 \uc870\ud68c",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc561\uc138\uc2a4 \ud1a0\ud070\uc73c\ub85c \uc778\uc99d\ub41c \ud68c\uc6d0\uc758 \ud504\ub85c\ud544 \uc815\ubcf4\ub97c \ubc18\ud658\ud569\ub2c8\ub2e4.",
                "operationId": "member-get-me",
                "responses": {
                    "401": {
                        "description": "401",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-signup16218693"
                                },
                                "examples": {
                                    "member-get-me-unauthorized": {
                                        "value": {
                                            "success": false,
                                            "status": 401,
                                            "errorCode": "UNAUTHORIZED",
                                            "message": "\uc778\uc99d\uc774 \ud544\uc694\ud569\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-me-1076569389"
                                },
                                "examples": {
                                    "member-get-me": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "memberId": 1,
                                                "email": "artisan@example.com",
                                                "name": "\uae40\ub3c4\uacf5",
                                                "nickname": null,
                                                "role": "USER",
                                                "profileImageUrl": null,
                                                "provider": "kakao",
                                                "phone": "01012345678"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            },
            "delete": {
                "tags": [
                    "\ud68c\uc6d0 \uacc4\uc815"
                ],
                "summary": "\ud68c\uc6d0 \ud0c8\ud1f4",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\ud0c8\ud1f4 \uc0ac\uc720\ub97c \uc785\ub825\ud558\uace0 \ud68c\uc6d0 \ud0c8\ud1f4\ub97c \uc9c4\ud589\ud569\ub2c8\ub2e4.",
                "operationId": "member-account-withdraw",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api-member-me-2097818813"
                            },
                            "examples": {
                                "member-account-withdraw": {
                                    "value": {
                                        "reason": "\uc11c\ube44\uc2a4\uac00 \ubd88\ud3b8\ud569\ub2c8\ub2e4"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-payments-fail-521794704"
                                },
                                "examples": {
                                    "member-account-withdraw": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            },
            "patch": {
                "tags": [
                    "\ud68c\uc6d0 \uacc4\uc815"
                ],
                "summary": "\ud504\ub85c\ud544 \uc218\uc815",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc774\ub984, \ub2c9\ub124\uc784, \uc804\ud654\ubc88\ud638\ub97c \uc120\ud0dd\uc801\uc73c\ub85c \uc218\uc815\ud569\ub2c8\ub2e4. null \ud544\ub4dc\ub294 \ubcc0\uacbd\ud558\uc9c0 \uc54a\uc2b5\ub2c8\ub2e4.",
                "operationId": "member-account-update",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api-member-me-1000024570"
                            },
                            "examples": {
                                "member-account-update-unauthorized": {
                                    "value": {
                                        "name": "\uc774\ub984",
                                        "nickname": null,
                                        "phone": null
                                    }
                                },
                                "member-account-update": {
                                    "value": {
                                        "name": "\uc0c8\uc774\ub984",
                                        "nickname": "\uc0c8\ub2c9\ub124\uc784",
                                        "phone": null
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "401": {
                        "description": "401",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-signup16218693"
                                },
                                "examples": {
                                    "member-account-update-unauthorized": {
                                        "value": {
                                            "success": false,
                                            "status": 401,
                                            "errorCode": "UNAUTHORIZED",
                                            "message": "\uc778\uc99d\uc774 \ud544\uc694\ud569\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-me335907477"
                                },
                                "examples": {
                                    "member-account-update": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "memberId": 1,
                                                "email": "artisan@example.com",
                                                "name": "\uc0c8\uc774\ub984",
                                                "nickname": "\uc0c8\ub2c9\ub124\uc784",
                                                "role": "USER",
                                                "profileImageUrl": null,
                                                "provider": null,
                                                "phone": "01012345678"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/member/signup": {
            "post": {
                "tags": [
                    "\ud68c\uc6d0"
                ],
                "summary": "\ud68c\uc6d0\uac00\uc785",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc774\uba54\uc77c + \ube44\ubc00\ubc88\ud638\ub85c \ud68c\uc6d0\uac00\uc785\ud569\ub2c8\ub2e4. \uac00\uc785 \uc989\uc2dc \ub85c\uadf8\uc778\ud560 \uc218 \uc788\uc2b5\ub2c8\ub2e4.\n\n**MemberRole**\n\n| \uac12 | \uc124\uba85 |\n|---|---|\n| `USER` | \uc18c\ube44\uc790 |\n| `ARTISAN` | \uc7a5\uc778 |",
                "operationId": "member-signup",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api-member-signup1149432730"
                            },
                            "examples": {
                                "member-signup-conflict": {
                                    "value": {
                                        "email": "artisan@example.com",
                                        "password": "password123!",
                                        "passwordConfirm": "password123!",
                                        "name": "\uae40\ub3c4\uacf5",
                                        "phone": "01012345678",
                                        "role": "USER",
                                        "agreements": {
                                            "age14OrOlder": true,
                                            "termsOfService": true,
                                            "privacyCollection": true,
                                            "marketing": null
                                        }
                                    }
                                },
                                "member-signup": {
                                    "value": {
                                        "email": "artisan@example.com",
                                        "password": "password123!",
                                        "passwordConfirm": "password123!",
                                        "name": "\uae40\ub3c4\uacf5",
                                        "phone": "01012345678",
                                        "role": "USER",
                                        "agreements": {
                                            "age14OrOlder": true,
                                            "termsOfService": true,
                                            "privacyCollection": true,
                                            "marketing": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "409": {
                        "description": "409",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-signup16218693"
                                },
                                "examples": {
                                    "member-signup-conflict": {
                                        "value": {
                                            "success": false,
                                            "status": 409,
                                            "errorCode": "CONFLICT",
                                            "message": "\ub9ac\uc18c\uc2a4 \ucda9\ub3cc\uc774 \ubc1c\uc0dd\ud588\uc2b5\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "201",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-signup-1500359845"
                                },
                                "examples": {
                                    "member-signup": {
                                        "value": {
                                            "success": true,
                                            "status": 201,
                                            "data": {
                                                "accessToken": null,
                                                "member": {
                                                    "memberId": 1,
                                                    "email": "artisan@example.com",
                                                    "name": "\uae40\ub3c4\uacf5",
                                                    "nickname": null,
                                                    "role": "USER",
                                                    "profileImageUrl": null,
                                                    "provider": null,
                                                    "phone": "01012345678"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/notifications/read-all": {
            "patch": {
                "tags": [
                    "\uc54c\ub9bc"
                ],
                "summary": "\uc804\uccb4 \uc77d\uc74c \ucc98\ub9ac",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\ub85c\uadf8\uc778\ud55c \ud68c\uc6d0\uc758 \uc77d\uc9c0 \uc54a\uc740 \uc54c\ub9bc\uc744 \ubaa8\ub450 \uc77d\uc74c \ucc98\ub9ac\ud569\ub2c8\ub2e4.",
                "operationId": "notification-read-all-200",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-chatbot-sessions-sessionId-1487972696"
                                },
                                "examples": {
                                    "notification-read-all-200": {
                                        "value": {
                                            "success": true,
                                            "status": 204,
                                            "data": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/notifications/stream": {
            "get": {
                "tags": [
                    "\uc54c\ub9bc"
                ],
                "summary": "SSE \uc2e4\uc2dc\uac04 \uc54c\ub9bc \uad6c\ub3c5",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\nSSE(Server-Sent Events)\ub85c \uc2e4\uc2dc\uac04 \uc54c\ub9bc\uc744 \uc218\uc2e0\ud569\ub2c8\ub2e4.\n\nBrowser EventSource\ub294 Authorization \ud5e4\ub354\ub97c \uc124\uc815\ud560 \uc218 \uc5c6\uc73c\ubbc0\ub85c JWT\ub97c \ucffc\ub9ac \ud30c\ub77c\ubbf8\ud130\ub85c \uc804\ub2ec\ud569\ub2c8\ub2e4.\n\n\uc5f0\uacb0 \uc9c1\ud6c4 `connect` \uc774\ubca4\ud2b8\uac00 \uc804\uc1a1\ub418\uace0, \uc774\ud6c4 \uc54c\ub9bc \ubc1c\uc0dd \uc2dc `notification` \uc774\ubca4\ud2b8\uac00 \uc804\uc1a1\ub429\ub2c8\ub2e4.",
                "operationId": "notification-stream-200",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "JWT \uc561\uc138\uc2a4 \ud1a0\ud070 (EventSource \uc0ac\uc6a9 \uc2dc \ud544\uc218)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200"
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/notifications/unread-count": {
            "get": {
                "tags": [
                    "\uc54c\ub9bc"
                ],
                "summary": "\uc77d\uc9c0 \uc54a\uc740 \uc54c\ub9bc \uc218 \uc870\ud68c",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\ub85c\uadf8\uc778\ud55c \ud68c\uc6d0\uc758 \uc77d\uc9c0 \uc54a\uc740 \uc54c\ub9bc \uc218\ub97c \ubc18\ud658\ud569\ub2c8\ub2e4.",
                "operationId": "notification-unread-count-200",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-notifications-unread-count-716840062"
                                },
                                "examples": {
                                    "notification-unread-count-200": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "unreadCount": 3
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/notifications/{notificationId}": {
            "get": {
                "tags": [
                    "\uc54c\ub9bc"
                ],
                "summary": "\uc54c\ub9bc \ub2e8\uac74 \uc870\ud68c",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\ud2b9\uc815 \uc54c\ub9bc\uc758 \uc0c1\uc138 \ub0b4\uc6a9\uc744 \uc870\ud68c\ud569\ub2c8\ub2e4.",
                "operationId": "notification-get-one-",
                "parameters": [
                    {
                        "name": "notificationId",
                        "in": "path",
                        "description": "\uc54c\ub9bc ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-notifications-notificationId1090539448"
                                },
                                "examples": {
                                    "notification-get-one-200": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "id": 1,
                                                "title": "\uc8fc\ubb38 \uc644\ub8cc",
                                                "content": "\uccad\uc790 \uc0c1\uac10 \ub2e4\uc644 \uc8fc\ubb38\uc774 \uc811\uc218\ub418\uc5c8\uc2b5\ub2c8\ub2e4.",
                                                "status": "UNREAD",
                                                "createdAt": "2026-09-01T10:00:00"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-signup16218693"
                                },
                                "examples": {
                                    "notification-get-one-404": {
                                        "value": {
                                            "success": false,
                                            "status": 404,
                                            "errorCode": "NOT_FOUND",
                                            "message": "\ub9ac\uc18c\uc2a4\ub97c \ucc3e\uc744 \uc218 \uc5c6\uc2b5\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "403",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-signup16218693"
                                },
                                "examples": {
                                    "notification-get-one-403": {
                                        "value": {
                                            "success": false,
                                            "status": 403,
                                            "errorCode": "FORBIDDEN",
                                            "message": "\ubcf8\uc778\uc758 \uc54c\ub9bc\ub9cc \uc811\uadfc\ud560 \uc218 \uc788\uc2b5\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            },
            "delete": {
                "tags": [
                    "\uc54c\ub9bc"
                ],
                "summary": "\uc54c\ub9bc \uc0ad\uc81c",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc54c\ub9bc\uc744 \uc0ad\uc81c \uc0c1\ud0dc\ub85c \ubcc0\uacbd\ud569\ub2c8\ub2e4.",
                "operationId": "notification-delete-",
                "parameters": [
                    {
                        "name": "notificationId",
                        "in": "path",
                        "description": "\uc54c\ub9bc ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "422": {
                        "description": "422",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-signup16218693"
                                },
                                "examples": {
                                    "notification-delete-422": {
                                        "value": {
                                            "success": false,
                                            "status": 422,
                                            "errorCode": "BUSINESS_RULE_VIOLATION",
                                            "message": "\uc774\ubbf8 \uc0ad\uc81c\ub41c \uc54c\ub9bc\uc785\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-chatbot-sessions-sessionId-1487972696"
                                },
                                "examples": {
                                    "notification-delete-200": {
                                        "value": {
                                            "success": true,
                                            "status": 204,
                                            "data": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/payments/cart": {
            "get": {
                "tags": [
                    "\uc7a5\ubc14\uad6c\ub2c8"
                ],
                "summary": "\uc7a5\ubc14\uad6c\ub2c8 \uc870\ud68c",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc778\uc99d \ud68c\uc6d0 \ub610\ub294 \uac8c\uc2a4\ud2b8(guestCartId \ucfe0\ud0a4)\uc758 \uc7a5\ubc14\uad6c\ub2c8\ub97c \ubc18\ud658\ud569\ub2c8\ub2e4. \uc778\uc99d \uc5c6\uc774\ub3c4 \uc811\uadfc \uac00\ub2a5\ud569\ub2c8\ub2e4.\n\n**\uc815\ucc45**\n- \ube44\ud68c\uc6d0(\uac8c\uc2a4\ud2b8) \uc7a5\ubc14\uad6c\ub2c8 \ud5c8\uc6a9 \u2014 `guestCartId` \ucfe0\ud0a4\ub85c \uc2dd\ubcc4\n- \ucd5c\ub300 50\uc885, \ucd08\uacfc \uc2dc \uac00\uc7a5 \uc624\ub798\ub41c \ud56d\ubaa9\uc744 \ucc1c\uc73c\ub85c \uc774\ub3d9\n- \uc7a5\ubc14\uad6c\ub2c8 \uc9c4\uc785 \uc2dc \uac00\uaca9\u00b7\uc7ac\uace0\u00b7\ud310\ub9e4 \uc0c1\ud0dc \uc7ac\uc870\ud68c\n- \ubc30\uc1a1\ube44: \uc7a5\uc778 \ub2e8\uc704 \uacc4\uc0b0, \uac19\uc740 \uc7a5\uc778 2\uc810\uc9f8\ubd80\ud130 \ubc30\uc1a1\ube44 0\n- \uc8fc\ubb38\uc81c\uc791 \ud3ec\ud568 \uc2dc \uc804\uccb4 \uc0c1\ud488 \ud568\uaed8 \ubc30\uc1a1 (\ubd84\ub9ac \ubc30\uc1a1 \uc5c6\uc74c)",
                "operationId": "cart-get",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-payments-cart-merge-82228599"
                                },
                                "examples": {
                                    "cart-get": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "sections": [
                                                    
                                                ],
                                                "totalPrice": 0,
                                                "totalShippingFee": 0,
                                                "totalCount": 0
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/payments/confirm": {
            "post": {
                "tags": [
                    "\uacb0\uc81c"
                ],
                "summary": "\uacb0\uc81c \uc2b9\uc778",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\ud1a0\uc2a4\ud398\uc774\uba3c\uce20 \uacb0\uc81c \uc644\ub8cc \ud6c4 FE\uac00 \uc804\ub2ec\ubc1b\uc740 `paymentKey`, `orderId`, `amount`\ub97c \uadf8\ub300\ub85c BE\ub85c \uc804\ub2ec\ud569\ub2c8\ub2e4.\n\n**\uc815\ucc45**\n- BE\uac00 \ud1a0\uc2a4\ud398\uc774\uba3c\uce20 \uc11c\ubc84 \uce21 \uc2b9\uc778 API\ub97c \ud638\ucd9c\ud558\uc5ec \uc7ac\uac80\uc99d (\ud074\ub77c\uc774\uc5b8\ud2b8 \uc751\ub2f5\ub9cc\uc73c\ub85c \ud655\uc815 \uae08\uc9c0)\n- \uc911\ubcf5 \uacb0\uc81c \ubc29\uc9c0: \uc8fc\ubb38\ubc88\ud638 \ub2e8\uc704 \uba71\ub4f1 \ucc98\ub9ac\n- `orderId` \ubd88\uc77c\uce58 \ub610\ub294 \uae08\uc561 \uc704\ubcc0\uc870 \uac10\uc9c0 \uc2dc 422 \ubc18\ud658\n\n**PaymentStatus**\n\n| \uac12 | \uc124\uba85 |\n|---|---|\n| `READY` | \uc900\ube44 (\uacb0\uc81c \ub300\uae30) |\n| `DONE` | \uc2b9\uc778 \uc644\ub8cc |\n| `FAILED` | \uc2e4\ud328 |\n| `CANCELED` | \ucde8\uc18c\ub428 |",
                "operationId": "payment-confirm",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api-payments-confirm-12221918"
                            },
                            "examples": {
                                "payment-confirm": {
                                    "value": {
                                        "paymentKey": "pay_key",
                                        "orderId": "ORD-000001",
                                        "amount": 25000
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-payments-confirm1321390106"
                                },
                                "examples": {
                                    "payment-confirm": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "paymentId": 200,
                                                "orderId": 100,
                                                "orderNumber": "ORD-000001",
                                                "amount": 25000,
                                                "method": "CARD",
                                                "status": "DONE",
                                                "approvedAt": "2026-09-23T12:50:21.670677337Z",
                                                "canceledAt": "2026-09-23T12:50:21.670677508Z"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/payments/fail": {
            "post": {
                "tags": [
                    "\uacb0\uc81c"
                ],
                "summary": "\uacb0\uc81c \uc2e4\ud328 \ucc98\ub9ac",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uacb0\uc81c \uc2e4\ud328\ub97c \ucc98\ub9ac\ud558\uace0 \uc8fc\ubb38 \uc0c1\ud0dc\ub97c \uc5c5\ub370\uc774\ud2b8\ud569\ub2c8\ub2e4.",
                "operationId": "payment-fail",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api-payments-fail-966144645"
                            },
                            "examples": {
                                "payment-fail": {
                                    "value": {
                                        "orderId": "ORD-000001",
                                        "errorCode": "REJECTED",
                                        "errorMessage": "\uac70\uc808"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-payments-fail-521794704"
                                },
                                "examples": {
                                    "payment-fail": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/payments/methods": {
            "get": {
                "tags": [
                    "\uacb0\uc81c\uc218\ub2e8"
                ],
                "summary": "\uacb0\uc81c\uc218\ub2e8 \ubaa9\ub85d \uc870\ud68c",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc778\uc99d\ub41c \ud68c\uc6d0\uc758 \ub4f1\ub85d\ub41c \uacb0\uc81c\uc218\ub2e8 \ubaa9\ub85d\uc744 \ubc18\ud658\ud569\ub2c8\ub2e4.",
                "operationId": "payment-methods-list",
                "responses": {
                    "401": {
                        "description": "401",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-signup16218693"
                                },
                                "examples": {
                                    "payment-methods-list-unauthorized": {
                                        "value": {
                                            "success": false,
                                            "status": 401,
                                            "errorCode": "UNAUTHORIZED",
                                            "message": "\uc778\uc99d\uc774 \ud544\uc694\ud569\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-payments-methods-220864991"
                                },
                                "examples": {
                                    "payment-methods-list": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": [
                                                {
                                                    "paymentMethodId": 10,
                                                    "type": "CARD",
                                                    "cardCompany": "VISA",
                                                    "cardNumberMasked": "424242******4242",
                                                    "isDefault": true
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            },
            "post": {
                "tags": [
                    "\uacb0\uc81c\uc218\ub2e8"
                ],
                "summary": "\uacb0\uc81c\uc218\ub2e8 \ub4f1\ub85d",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc0c8 \uacb0\uc81c\uc218\ub2e8(\uce74\ub4dc)\uc744 \ub4f1\ub85d\ud569\ub2c8\ub2e4.",
                "operationId": "payment-methods-register",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api-payments-methods1001892655"
                            },
                            "examples": {
                                "payment-methods-register": {
                                    "value": {
                                        "type": "CARD",
                                        "cardNumber": "4242424242424242",
                                        "expiry": "12/30",
                                        "birthOrBusinessNo": "900101"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "201",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-payments-methods1245291826"
                                },
                                "examples": {
                                    "payment-methods-register": {
                                        "value": {
[...]
