{
    "openapi": "3.0.1",
    "info": {
        "title": "\uc7a5\uc778\ubab0 (\ubbf8\ub2f4) API",
        "description": "\uc7a5\uc778\ubab0(\ubbf8\ub2f4)\uc740 \uad6d\uac00\ubb34\ud615\uc720\uc0b0 \uc7a5\uc778\uc758 \uc791\ud488\uc744 \uc9c1\uc811 \uad6c\ub9e4\ud560 \uc218 \uc788\ub294 B2C \ub9c8\ucf13\ud50c\ub808\uc774\uc2a4\uc785\ub2c8\ub2e4.\n\ubcf8 \ubb38\uc11c\ub294 \uc7a5\uc778\ubab0 REST API\uc758 \uacf5\uc2dd \ub808\ud37c\ub7f0\uc2a4\uc785\ub2c8\ub2e4.\n\n## Quick Start\n\nAPI \uc5f0\ub3d9\uc740 3\ub2e8\uacc4\ub85c \uc2dc\uc791\ud569\ub2c8\ub2e4.\n\n**1\ub2e8\uacc4 \u2014 \ud68c\uc6d0\uac00\uc785 / \ub85c\uadf8\uc778**\n\n```http\nPOST /api/member/signup\nContent-Type: application/json\n\n{\n  \"email\": \"buyer@example.com\",\n  \"password\": \"P@ssw0rd!\",\n  \"name\": \"\ud64d\uae38\ub3d9\"\n}\n```\n\n**2\ub2e8\uacc4 \u2014 Access Token \ubc1c\uae09**\n\n```http\nPOST /api/member/login\nContent-Type: application/json\n\n{\n  \"email\": \"buyer@example.com\",\n  \"password\": \"P@ssw0rd!\"\n}\n```\n\n\uc751\ub2f5\uc758 `accessToken`\uc744 \uc800\uc7a5\ud569\ub2c8\ub2e4. Refresh Token\uc740 `Set-Cookie: refreshToken=...` \uc73c\ub85c \uc804\ub2ec\ub429\ub2c8\ub2e4.\n\n**3\ub2e8\uacc4 \u2014 \uc778\uc99d\uc774 \ud544\uc694\ud55c API \ud638\ucd9c**\n\n```http\nGET /api/member/me\nAuthorization: Bearer {accessToken}\n```\n\n---\n\n## \uc11c\ubc84 \ud658\uacbd (Base URL)\n\n| \ud658\uacbd | Base URL |\n|------|----------|\n| Production | `https://midam.store` |\n| Local | `http://localhost:8080` |\n\n---\n\n## \uc778\uc99d (Authentication)\n\n\uc7a5\uc778\ubab0 API\ub294 **JWT Bearer Token** \ubc29\uc2dd\uc744 \uc0ac\uc6a9\ud569\ub2c8\ub2e4.\n\n- `POST /api/member/login` \ub610\ub294 OAuth2 \ub85c\uadf8\uc778 \uc131\uacf5 \uc2dc `accessToken` \ubc1c\uae09\n- \ubaa8\ub4e0 \uc778\uc99d \ud544\uc694 API\uc5d0 `Authorization: Bearer {accessToken}` \ud5e4\ub354 \ud3ec\ud568\n- Access Token \ub9cc\ub8cc(`401 UNAUTHORIZED`) \uc2dc `POST /api/member/token/refresh` \ud638\ucd9c\n\n```http\nAuthorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...\n```\n\n**OAuth2 \uc18c\uc15c \ub85c\uadf8\uc778** (\uce74\uce74\uc624 / \ub124\uc774\ubc84)\n\n1. `GET /api/member/oauth2/{provider}` \u2192 \uc18c\uc15c \ub85c\uadf8\uc778 \ud398\uc774\uc9c0 \ub9ac\ub2e4\uc774\ub809\ud2b8\n2. \uc778\uc99d \uc644\ub8cc \ud6c4 \ud504\ub860\ud2b8\uc5d4\ub4dc \ucf5c\ubc31 URL\ub85c `code` \ud30c\ub77c\ubbf8\ud130 \uc804\ub2ec\n3. `POST /api/member/oauth2/exchange` \u2192 `accessToken` \uad50\ud658\n\n---\n\n## \uacf5\ud1b5 \uc694\uccad \ud615\uc2dd\n\n```http\nContent-Type: application/json\nAccept: application/json\nAuthorization: Bearer {accessToken}   # \uc778\uc99d \ud544\uc694 API\n```\n\n\ub0a0\uc9dc/\uc2dc\uac04\uc740 \ubaa8\ub450 **ISO 8601** \ud615\uc2dd(`2025-01-15T09:30:00Z`)\uc73c\ub85c \uc8fc\uace0\ubc1b\uc2b5\ub2c8\ub2e4.\n\n---\n\n## \uacf5\ud1b5 \uc751\ub2f5 \ud615\uc2dd\n\n**\uc131\uacf5**\n\n```json\n{\n  \"success\": true,\n  \"status\": 200,\n  \"data\": { ... }\n}\n```\n\n**\uc2e4\ud328**\n\n```json\n{\n  \"success\": false,\n  \"status\": 400,\n  \"errorCode\": \"INVALID_INPUT\",\n  \"message\": \"\uc785\ub825\uac12\uc774 \uc62c\ubc14\ub974\uc9c0 \uc54a\uc2b5\ub2c8\ub2e4\"\n}\n```\n\n---\n\n## \uacf5\ud1b5 \uc5d0\ub7ec \ucf54\ub4dc\n\n\uc544\ub798 \uc5d0\ub7ec \ucf54\ub4dc\ub294 \uba85\uc2dc \uc5ec\ubd80\uc640 \ubb34\uad00\ud558\uac8c **\ubaa8\ub4e0 \uc5d4\ub4dc\ud3ec\uc778\ud2b8\uc5d0 \uacf5\ud1b5 \uc801\uc6a9**\ub429\ub2c8\ub2e4.\n\uac01 \uc5d4\ub4dc\ud3ec\uc778\ud2b8 \uc751\ub2f5 \ubaa9\ub85d\uc5d0\ub294 \ud574\ub2f9 \ube44\uc988\ub2c8\uc2a4 \ub85c\uc9c1\uc5d0 \ud2b9\ud654\ub41c \uc5d0\ub7ec\ub9cc \ucd94\uac00\ub85c \ud45c\uc2dc\ub429\ub2c8\ub2e4.\n\n| HTTP | errorCode | \ubc1c\uc0dd \uc870\uac74 |\n|------|-----------|-----------|\n| 400 | INVALID_INPUT | `@Valid` \ud544\ub4dc \uac80\uc99d \uc2e4\ud328 |\n| 400 | REQUEST_INVALID | Content-Type \ubd88\uc77c\uce58, \ud0c0\uc785 \ubcc0\ud658 \uc2e4\ud328 |\n| 400 | REQUEST_BODY_MALFORMED | \ud30c\uc2f1 \ubd88\uac00\ud55c \uc694\uccad \ubc14\ub514 |\n| 401 | UNAUTHORIZED | \uc778\uc99d \ud1a0\ud070 \uc5c6\uc74c \ub610\ub294 \ub9cc\ub8cc |\n| 403 | FORBIDDEN | \uad8c\ud55c \uc5c6\uc74c (\ud0c0 \uc0ac\uc6a9\uc790 \ub9ac\uc18c\uc2a4 \uc811\uadfc \ub4f1) |\n| 404 | NOT_FOUND | \ub9ac\uc18c\uc2a4\ub97c \ucc3e\uc744 \uc218 \uc5c6\uc74c |\n| 409 | CONFLICT | \uc911\ubcf5 \ub9ac\uc18c\uc2a4 (\uc774\uba54\uc77c, \ucc1c \ub4f1) |\n| 422 | BUSINESS_RULE_VIOLATION | \ube44\uc988\ub2c8\uc2a4 \uaddc\uce59 \uc704\ubc18 (\uc0c1\ud0dc \uc804\uc774 \ubd88\uac00 \ub4f1) |\n| 429 | TOO_MANY_REQUESTS | \uc694\uccad \ud69f\uc218 \ucd08\uacfc |\n| 500 | INTERNAL_ERROR | \uc11c\ubc84 \ub0b4\ubd80 \uc624\ub958 |\n\n---\n\n## \ud398\uc774\uc9c0\ub124\uc774\uc158\n\n### \uc624\ud504\uc14b \ud398\uc774\uc9c0\ub124\uc774\uc158\n\n`page`(0-based), `size`(\uae30\ubcf8 20) \ucffc\ub9ac \ud30c\ub77c\ubbf8\ud130\ub85c \uc804\ub2ec\ud569\ub2c8\ub2e4.\n\n```\nGET /api/products?page=0&size=20\n```\n\n```json\n{\n  \"content\": [...],\n  \"totalElements\": 100,\n  \"totalPages\": 5,\n  \"number\": 0,\n  \"size\": 20,\n  \"first\": true,\n  \"last\": false\n}\n```\n\n### \ucee4\uc11c \ud398\uc774\uc9c0\ub124\uc774\uc158\n\n`cursor`(\uccab \uc694\uccad \uc2dc \uc0dd\ub7b5), `size`(\uae30\ubcf8 20) \ucffc\ub9ac \ud30c\ub77c\ubbf8\ud130\ub85c \uc804\ub2ec\ud569\ub2c8\ub2e4.\n\n```\nGET /api/artisans/subscriptions?size=20\nGET /api/artisans/subscriptions?cursor=eyJpZCI6MTB9&size=20\n```\n\n```json\n{\n  \"items\": [...],\n  \"nextCursor\": \"eyJpZCI6MX0=\",\n  \"hasNext\": true,\n  \"totalCount\": 100\n}\n```\n\n`hasNext`\uac00 `false`\uc774\uba74 \ub9c8\uc9c0\ub9c9 \ud398\uc774\uc9c0\uc785\ub2c8\ub2e4. `nextCursor`\ub294 \ubd88\ud22c\uba85 Base64 \ud1a0\ud070\uc73c\ub85c \ud30c\uc2f1\ud558\uc9c0 \ub9d0\uace0 \uadf8\ub300\ub85c \uc804\ub2ec\ud558\uc138\uc694.\n\n---\n\n## \ud5ec\uc2a4\uccb4\ud06c / \uc778\ud504\ub77c\n\n| \uacbd\ub85c | \ud3ec\ud2b8 | \uc6a9\ub3c4 |\n|------|------|------|\n| `/healthz` | 8080 | ALB \ud5ec\uc2a4\uccb4\ud06c (ping, \uc778\uc99d \ubd88\ud544\uc694) |\n| `/actuator/health/liveness` | 9090 | Liveness probe |\n| `/actuator/health/readiness` | 9090 | Readiness probe |\n| `/actuator/prometheus` | 9090 | Prometheus \uba54\ud2b8\ub9ad \uc2a4\ud06c\ub808\uc774\ud551 |\n\n---\n\n## \ubb38\uc758\n\n\uae30\uc220 \ubb38\uc758: dev@midam.store\n",
        "version": "0.0.1-SNAPSHOT"
    },
    "servers": [
        {
            "url": "https://midam.store",
            "description": "Production"
        },
        {
            "url": "http://localhost:8080",
            "description": "Local"
        }
    ],
    "tags": [
        {
            "name": "AI \ucf58\ud150\uce20 \uc0dd\uc131"
        },
        {
            "name": "AI \ucf5c\ubc31 (\ub0b4\ubd80)"
        },
        {
            "name": "Dev (\ub85c\uceec \uc804\uc6a9)"
        },
        {
            "name": "\uc0c1\ud488"
        },
        {
            "name": "\uc0c1\ud488 \ubb38\uc758"
        },
        {
            "name": "\uc0c1\ud488 \ud6c4\uae30"
        },
        {
            "name": "\uc54c\ub9bc"
        },
        {
            "name": "\uc7a5\uc778 \uad6c\ub3c5"
        },
        {
            "name": "\ucc1c"
        },
        {
            "name": "\ucc57\ubd07"
        },
        {
            "name": "\uce74\ud14c\uace0\ub9ac"
        },
        {
            "name": "\ucf58\ud150\uce20"
        },
        {
            "name": "\uc778\ud504\ub77c"
        }
    ],
    "paths": {
        "/api/notifications": {
            "get": {
                "tags": [
                    "\uc54c\ub9bc"
                ],
                "summary": "\uc54c\ub9bc \ubaa9\ub85d \uc870\ud68c",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\ub85c\uadf8\uc778\ud55c \ud68c\uc6d0\uc758 \uc54c\ub9bc \ubaa9\ub85d\uc744 \ucd5c\uc2e0\uc21c\uc73c\ub85c \uc870\ud68c\ud569\ub2c8\ub2e4.",
                "operationId": "notification-list-200",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-notifications-977530391"
                                },
                                "examples": {
                                    "notification-list-200": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": [
                                                {
                                                    "id": 1,
                                                    "title": "\uc8fc\ubb38 \uc644\ub8cc",
                                                    "content": "\uccad\uc790 \uc0c1\uac10 \ub2e4\uc644 \uc8fc\ubb38\uc774 \uc811\uc218\ub418\uc5c8\uc2b5\ub2c8\ub2e4.",
                                                    "status": "UNREAD",
                                                    "createdAt": "2026-09-01T10:00:00"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            },
            "post": {
                "tags": [
                    "\uc54c\ub9bc"
                ],
                "summary": "\uc54c\ub9bc \uc0dd\uc131",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc54c\ub9bc\uc744 \uc0dd\uc131\ud558\uace0 SSE \uad6c\ub3c5\uc790\uc5d0\uac8c \uc2e4\uc2dc\uac04\uc73c\ub85c \uc804\uc1a1\ud569\ub2c8\ub2e4.",
                "operationId": "notification-create-200",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api-notifications-1153381567"
                            },
                            "examples": {
                                "notification-create-200": {
                                    "value": {
                                        "title": "\uc8fc\ubb38 \uc644\ub8cc",
                                        "content": "\uccad\uc790 \uc0c1\uac10 \ub2e4\uc644 \uc8fc\ubb38\uc774 \uc811\uc218\ub418\uc5c8\uc2b5\ub2c8\ub2e4."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-notifications2012318619"
                                },
                                "examples": {
                                    "notification-create-200": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "id": 1,
                                                "title": "\uc8fc\ubb38 \uc644\ub8cc",
                                                "content": "\uccad\uc790 \uc0c1\uac10 \ub2e4\uc644 \uc8fc\ubb38\uc774 \uc811\uc218\ub418\uc5c8\uc2b5\ub2c8\ub2e4.",
                                                "status": "UNREAD",
                                                "createdAt": "2026-09-01T10:00:00"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/products": {
            "get": {
                "tags": [
                    "\uc0c1\ud488"
                ],
                "summary": "\uc0c1\ud488 \ubaa9\ub85d",
                "description": "\ud83d\udd13 **\uc778\uc99d \ubd88\ud544\uc694**\n\n\ud310\ub9e4 \uc911(ON_SALE)\uc778 \uc0c1\ud488 \ubaa9\ub85d\uc744 \ud398\uc774\uc9d5\uc73c\ub85c \uc870\ud68c\ud569\ub2c8\ub2e4.",
                "operationId": "product-list",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-products-me-794862261"
                                },
                                "examples": {
                                    "product-list": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "content": [
                                                    {
                                                        "productId": 1,
                                                        "artisanId": 10,
                                                        "categoryId": 1,
                                                        "categoryName": "\ub3c4\uc790\uae30",
                                                        "subcategoryId": 2,
                                                        "subcategoryName": "\uccad\uc790",
                                                        "title": "\uccad\uc790 \ub2e4\uc644",
                                                        "description": "\uace0\ub824 \uccad\uc790 \ub2e4\uc644",
                                                        "price": 85000,
                                                        "stock": 10,
                                                        "thumbnailUrl": "https://example.com/thumb.jpg",
                                                        "status": "DRAFT",
                                                        "createdAt": "2026-09-03T10:00:00",
                                                        "updatedAt": "2026-09-03T10:00:00",
                                                        "giftThemes": [
                                                            "BIRTHDAY_60TH"
                                                        ],
                                                        "purposeTags": [
                                                            "\ub2e4\ub3c4"
                                                        ],
                                                        "productionPeriodDays": 14,
                                                        "colors": [
                                                            "BLUE"
                                                        ]
                                                    }
                                                ],
                                                "empty": false,
                                                "first": true,
                                                "last": true,
                                                "number": 0,
                                                "numberOfElements": 1,
                                                "pageable": "INSTANCE",
                                                "size": 1,
                                                "sort": {
                                                    "empty": true,
                                                    "sorted": false,
                                                    "unsorted": true
                                                },
                                                "totalElements": 1,
                                                "totalPages": 1
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "PUBLIC",
                "security": [
                    
                ]
            },
            "post": {
                "tags": [
                    "\uc0c1\ud488"
                ],
                "summary": "\uc0c1\ud488 \ub4f1\ub85d",
                "description": "\ud83d\udee0 **ARTISAN** (\ud310\ub9e4\uc790)\n\n\uc7a5\uc778\uc774 \uc2e0\uaddc \uc0c1\ud488\uc744 DRAFT \uc0c1\ud0dc\ub85c \ub4f1\ub85d\ud569\ub2c8\ub2e4.",
                "operationId": "product-create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api-products956821534"
                            },
                            "examples": {
                                "product-create": {
                                    "value": {
                                        "categoryId": 1,
                                        "subcategoryId": 2,
                                        "title": "\uccad\uc790 \ub2e4\uc644",
                                        "description": "\uace0\ub824 \uccad\uc790 \ub2e4\uc644",
                                        "price": 85000,
                                        "stock": 10,
                                        "thumbnailUrl": "https://example.com/thumb.jpg",
                                        "giftThemes": [
                                            "BIRTHDAY_60TH"
                                        ],
                                        "purposeTags": [
                                            "\ub2e4\ub3c4"
                                        ],
                                        "productionPeriodDays": 14,
                                        "colors": [
                                            "BLUE"
                                        ]
                                    }
                                },
                                "product-create-unauthorized": {
                                    "value": {
                                        "categoryId": null,
                                        "subcategoryId": null,
                                        "title": "\uccad\uc790 \ub2e4\uc644",
                                        "description": null,
                                        "price": 85000,
                                        "stock": 10,
                                        "thumbnailUrl": null,
                                        "giftThemes": [
                                            
                                        ],
                                        "purposeTags": [
                                            
                                        ],
                                        "productionPeriodDays": null,
                                        "colors": [
                                            
                                        ]
                                    }
                                },
                                "product-create-forbidden": {
                                    "value": {
                                        "categoryId": null,
                                        "subcategoryId": null,
                                        "title": "\uccad\uc790 \ub2e4\uc644",
                                        "description": null,
                                        "price": 85000,
                                        "stock": 10,
                                        "thumbnailUrl": null,
                                        "giftThemes": [
                                            
                                        ],
                                        "purposeTags": [
                                            
                                        ],
                                        "productionPeriodDays": null,
                                        "colors": [
                                            
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "201",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-products-productId1950243800"
                                },
                                "examples": {
                                    "product-create": {
                                        "value": {
                                            "success": true,
                                            "status": 201,
                                            "data": {
                                                "productId": 1,
                                                "artisanId": 10,
                                                "categoryId": 1,
                                                "categoryName": "\ub3c4\uc790\uae30",
                                                "subcategoryId": 2,
                                                "subcategoryName": "\uccad\uc790",
                                                "title": "\uccad\uc790 \ub2e4\uc644",
                                                "description": "\uace0\ub824 \uccad\uc790 \ub2e4\uc644",
                                                "price": 85000,
                                                "stock": 10,
                                                "thumbnailUrl": "https://example.com/thumb.jpg",
                                                "status": "DRAFT",
                                                "createdAt": "2026-09-03T10:00:00",
                                                "updatedAt": "2026-09-03T10:00:00",
                                                "giftThemes": [
                                                    "BIRTHDAY_60TH"
                                                ],
                                                "purposeTags": [
                                                    "\ub2e4\ub3c4"
                                                ],
                                                "productionPeriodDays": 14,
                                                "colors": [
                                                    "BLUE"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-content-products-productId-interview16218693"
                                },
                                "examples": {
                                    "product-create-unauthorized": {
                                        "value": {
                                            "success": false,
                                            "status": 401,
                                            "errorCode": "UNAUTHORIZED",
                                            "message": "\uc778\uc99d\uc774 \ud544\uc694\ud569\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "403",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-content-products-productId-interview16218693"
                                },
                                "examples": {
                                    "product-create-forbidden": {
                                        "value": {
                                            "success": false,
                                            "status": 403,
                                            "errorCode": "FORBIDDEN",
                                            "message": "\uc811\uadfc \uad8c\ud55c\uc774 \uc5c6\uc2b5\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "ARTISAN"
            }
        },
        "/api/chatbot/sessions": {
            "post": {
                "tags": [
                    "\ucc57\ubd07"
                ],
                "summary": "\ucc57\ubd07 \uc138\uc158 \uc0dd\uc131",
                "description": "\ud83d\udd13 **\uc778\uc99d \ubd88\ud544\uc694**\n\n\uc18c\ube44\uc790\uac00 \uc0c8 \ucc57\ubd07 \ub300\ud654 \uc138\uc158\uc744 \uc0dd\uc131\ud569\ub2c8\ub2e4.",
                "operationId": "chatbot-session-create",
                "responses": {
                    "201": {
                        "description": "201",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-chatbot-sessions-881852531"
                                },
                                "examples": {
                                    "chatbot-session-create": {
                                        "value": {
                                            "success": true,
                                            "status": 201,
                                            "data": {
                                                "sessionId": "11111111-1111-1111-1111-111111111111",
                                                "expiresInSeconds": 3600
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "PUBLIC",
                "security": [
                    
                ]
            }
        },
        "/api/notifications/read-all": {
            "patch": {
                "tags": [
                    "\uc54c\ub9bc"
                ],
                "summary": "\uc804\uccb4 \uc77d\uc74c \ucc98\ub9ac",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\ub85c\uadf8\uc778\ud55c \ud68c\uc6d0\uc758 \uc77d\uc9c0 \uc54a\uc740 \uc54c\ub9bc\uc744 \ubaa8\ub450 \uc77d\uc74c \ucc98\ub9ac\ud569\ub2c8\ub2e4.",
                "operationId": "notification-read-all-200",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-chatbot-sessions-sessionId-1487972696"
                                },
                                "examples": {
                                    "notification-read-all-200": {
                                        "value": {
                                            "success": true,
                                            "status": 204,
                                            "data": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/notifications/stream": {
            "get": {
                "tags": [
                    "\uc54c\ub9bc"
                ],
                "summary": "SSE \uc2e4\uc2dc\uac04 \uc54c\ub9bc \uad6c\ub3c5",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\nSSE(Server-Sent Events)\ub85c \uc2e4\uc2dc\uac04 \uc54c\ub9bc\uc744 \uc218\uc2e0\ud569\ub2c8\ub2e4.\n\nBrowser EventSource\ub294 Authorization \ud5e4\ub354\ub97c \uc124\uc815\ud560 \uc218 \uc5c6\uc73c\ubbc0\ub85c JWT\ub97c \ucffc\ub9ac \ud30c\ub77c\ubbf8\ud130\ub85c \uc804\ub2ec\ud569\ub2c8\ub2e4.\n\n\uc5f0\uacb0 \uc9c1\ud6c4 `connect` \uc774\ubca4\ud2b8\uac00 \uc804\uc1a1\ub418\uace0, \uc774\ud6c4 \uc54c\ub9bc \ubc1c\uc0dd \uc2dc `notification` \uc774\ubca4\ud2b8\uac00 \uc804\uc1a1\ub429\ub2c8\ub2e4.",
                "operationId": "notification-stream-200",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "JWT \uc561\uc138\uc2a4 \ud1a0\ud070 (EventSource \uc0ac\uc6a9 \uc2dc \ud544\uc218)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200"
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/notifications/unread-count": {
            "get": {
                "tags": [
                    "\uc54c\ub9bc"
                ],
                "summary": "\uc77d\uc9c0 \uc54a\uc740 \uc54c\ub9bc \uc218 \uc870\ud68c",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\ub85c\uadf8\uc778\ud55c \ud68c\uc6d0\uc758 \uc77d\uc9c0 \uc54a\uc740 \uc54c\ub9bc \uc218\ub97c \ubc18\ud658\ud569\ub2c8\ub2e4.",
                "operationId": "notification-unread-count-200",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-notifications-unread-count-716840062"
                                },
                                "examples": {
                                    "notification-unread-count-200": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "unreadCount": 3
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/notifications/{notificationId}": {
            "get": {
                "tags": [
                    "\uc54c\ub9bc"
                ],
                "summary": "\uc54c\ub9bc \ub2e8\uac74 \uc870\ud68c",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\ud2b9\uc815 \uc54c\ub9bc\uc758 \uc0c1\uc138 \ub0b4\uc6a9\uc744 \uc870\ud68c\ud569\ub2c8\ub2e4.",
                "operationId": "notification-get-one-",
                "parameters": [
                    {
                        "name": "notificationId",
                        "in": "path",
                        "description": "\uc54c\ub9bc ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "403": {
                        "description": "403",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-content-products-productId-interview16218693"
                                },
                                "examples": {
                                    "notification-get-one-403": {
                                        "value": {
                                            "success": false,
                                            "status": 403,
                                            "errorCode": "FORBIDDEN",
                                            "message": "\ubcf8\uc778\uc758 \uc54c\ub9bc\ub9cc \uc811\uadfc\ud560 \uc218 \uc788\uc2b5\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-content-products-productId-interview16218693"
                                },
                                "examples": {
                                    "notification-get-one-404": {
                                        "value": {
                                            "success": false,
                                            "status": 404,
                                            "errorCode": "NOT_FOUND",
                                            "message": "\ub9ac\uc18c\uc2a4\ub97c \ucc3e\uc744 \uc218 \uc5c6\uc2b5\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-notifications-notificationId1090539448"
                                },
                                "examples": {
                                    "notification-get-one-200": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "id": 1,
                                                "title": "\uc8fc\ubb38 \uc644\ub8cc",
                                                "content": "\uccad\uc790 \uc0c1\uac10 \ub2e4\uc644 \uc8fc\ubb38\uc774 \uc811\uc218\ub418\uc5c8\uc2b5\ub2c8\ub2e4.",
                                                "status": "UNREAD",
                                                "createdAt": "2026-09-01T10:00:00"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            },
            "delete": {
                "tags": [
                    "\uc54c\ub9bc"
                ],
                "summary": "\uc54c\ub9bc \uc0ad\uc81c",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc54c\ub9bc\uc744 \uc0ad\uc81c \uc0c1\ud0dc\ub85c \ubcc0\uacbd\ud569\ub2c8\ub2e4.",
                "operationId": "notification-delete-",
                "parameters": [
                    {
                        "name": "notificationId",
                        "in": "path",
                        "description": "\uc54c\ub9bc ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "422": {
                        "description": "422",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-content-products-productId-interview16218693"
                                },
                                "examples": {
                                    "notification-delete-422": {
                                        "value": {
                                            "success": false,
                                            "status": 422,
                                            "errorCode": "BUSINESS_RULE_VIOLATION",
                                            "message": "\uc774\ubbf8 \uc0ad\uc81c\ub41c \uc54c\ub9bc\uc785\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-chatbot-sessions-sessionId-1487972696"
                                },
                                "examples": {
                                    "notification-delete-200": {
                                        "value": {
                                            "success": true,
                                            "status": 204,
                                            "data": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/products/categories": {
            "get": {
                "tags": [
                    "\uce74\ud14c\uace0\ub9ac"
                ],
                "summary": "\uce74\ud14c\uace0\ub9ac \ubaa9\ub85d",
                "description": "\ud83d\udd13 **\uc778\uc99d \ubd88\ud544\uc694**\n\n\uc804\uccb4 \uce74\ud14c\uace0\ub9ac \ubaa9\ub85d\uc744 \uc870\ud68c\ud569\ub2c8\ub2e4.",
                "operationId": "category-list",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-products-categories-main1684097948"
                                },
                                "examples": {
                                    "category-list": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": [
                                                {
                                                    "categoryId": 1,
                                                    "name": "\ub3c4\uc790\uae30"
                                                },
                                                {
                                                    "categoryId": 2,
                                                    "name": "\ubaa9\uacf5\uc608"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "PUBLIC",
                "security": [
                    
                ]
            }
        },
        "/api/products/materials": {
            "get": {
                "tags": [
                    "\uce74\ud14c\uace0\ub9ac"
                ],
                "summary": "\uc18c\uc7ac \ubaa9\ub85d",
                "description": "\ud83d\udd13 **\uc778\uc99d \ubd88\ud544\uc694**\n\nsubcategoryId\ub85c \ud544\ud130\ub9c1\ub41c \uc2e4\uc81c \uc0ac\uc6a9 \uc911\uc778 \uc18c\uc7ac \ubaa9\ub85d\uc744 \uc870\ud68c\ud569\ub2c8\ub2e4. subcategoryId \ubbf8\uc804\ub2ec \uc2dc \ube48 \ubc30\uc5f4 \ubc18\ud658.",
                "operationId": "material-list",
                "parameters": [
                    {
                        "name": "subcategoryId",
                        "in": "query",
                        "description": "\uc11c\ube0c\uce74\ud14c\uace0\ub9ac ID (\uc120\ud0dd)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-products-materials-415789377"
                                },
                                "examples": {
                                    "material-list": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": [
                                                "\ubc31\uc790",
                                                "\ubd84\uccad",
                                                "\uccad\uc790",
                                                "\uc639\uae30\ud1a0"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "PUBLIC",
                "security": [
                    
                ]
            }
        },
        "/api/products/me": {
            "get": {
                "tags": [
                    "\uc0c1\ud488"
                ],
                "summary": "\ub0b4 \uc0c1\ud488 \ubaa9\ub85d (\uc7a5\uc778)",
                "description": "\ud83d\udee0 **ARTISAN** (\ud310\ub9e4\uc790)\n\n\ub85c\uadf8\uc778\ud55c \uc7a5\uc778 \ubcf8\uc778\uc758 \uc0c1\ud488 \ubaa9\ub85d\uc744 \ud398\uc774\uc9d5\uc73c\ub85c \uc870\ud68c\ud569\ub2c8\ub2e4.",
                "operationId": "product-my-list",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-products-me-794862261"
                                },
                                "examples": {
                                    "product-my-list": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "content": [
                                                    {
                                                        "productId": 1,
                                                        "artisanId": 10,
                                                        "categoryId": 1,
                                                        "categoryName": "\ub3c4\uc790\uae30",
                                                        "subcategoryId": 2,
                                                        "subcategoryName": "\uccad\uc790",
                                                        "title": "\uccad\uc790 \ub2e4\uc644",
                                                        "description": "\uace0\ub824 \uccad\uc790 \ub2e4\uc644",
                                                        "price": 85000,
                                                        "stock": 10,
                                                        "thumbnailUrl": "https://example.com/thumb.jpg",
                                                        "status": "DRAFT",
                                                        "createdAt": "2026-09-03T10:00:00",
                                                        "updatedAt": "2026-09-03T10:00:00",
                                                        "giftThemes": [
                                                            "BIRTHDAY_60TH"
                                                        ],
                                                        "purposeTags": [
                                                            "\ub2e4\ub3c4"
                                                        ],
                                                        "productionPeriodDays": 14,
                                                        "colors": [
                                                            "BLUE"
                                                        ]
                                                    }
                                                ],
                                                "empty": false,
                                                "first": true,
                                                "last": true,
                                                "number": 0,
                                                "numberOfElements": 1,
                                                "pageable": "INSTANCE",
                                                "size": 1,
                                                "sort": {
                                                    "empty": true,
                                                    "sorted": false,
                                                    "unsorted": true
                                                },
                                                "totalElements": 1,
                                                "totalPages": 1
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "ARTISAN"
            }
        },
        "/api/products/subcategories": {
            "get": {
                "tags": [
                    "\uce74\ud14c\uace0\ub9ac"
                ],
                "summary": "\uc11c\ube0c\uce74\ud14c\uace0\ub9ac \ubaa9\ub85d",
                "description": "\ud83d\udd13 **\uc778\uc99d \ubd88\ud544\uc694**\n\n\uc804\uccb4 \uc11c\ube0c\uce74\ud14c\uace0\ub9ac \ubaa9\ub85d\uc744 \uc870\ud68c\ud569\ub2c8\ub2e4.",
                "operationId": "subcategory-list",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-products-subcategories-1412570228"
                                },
                                "examples": {
                                    "subcategory-list": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": [
                                                {
                                                    "subcategoryId": 1,
                                                    "categoryId": 1,
                                                    "name": "\ub2e4\uae30\u00b7\ucc3b\uc794"
                                                },
                                                {
                                                    "subcategoryId": 2,
                                                    "categoryId": 1,
                                                    "name": "\ud654\ubcd1\u00b7\ud56d\uc544\ub9ac"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "PUBLIC",
                "security": [
                    
                ]
            }
        },
        "/api/products/{productId}": {
            "get": {
                "tags": [
                    "\uc0c1\ud488"
                ],
                "summary": "\uc0c1\ud488 \uc0c1\uc138",
                "description": "\ud83d\udd13 **\uc778\uc99d \ubd88\ud544\uc694**\n\n\uc0c1\ud488 ID\ub85c \ub2e8\uac74 \uc870\ud68c\ud569\ub2c8\ub2e4.",
                "operationId": "product-detail",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "\uc0c1\ud488 ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-products-productId1950243800"
                                },
                                "examples": {
                                    "product-detail": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "productId": 1,
                                                "artisanId": 10,
                                                "categoryId": 1,
                                                "categoryName": "\ub3c4\uc790\uae30",
                                                "subcategoryId": 2,
                                                "subcategoryName": "\uccad\uc790",
                                                "title": "\uccad\uc790 \ub2e4\uc644",
                                                "description": "\uace0\ub824 \uccad\uc790 \ub2e4\uc644",
                                                "price": 85000,
                                                "stock": 10,
                                                "thumbnailUrl": "https://example.com/thumb.jpg",
                                                "status": "DRAFT",
                                                "createdAt": "2026-09-03T10:00:00",
                                                "updatedAt": "2026-09-03T10:00:00",
                                                "giftThemes": [
                                                    "BIRTHDAY_60TH"
                                                ],
                                                "purposeTags": [
                                                    "\ub2e4\ub3c4"
                                                ],
                                                "productionPeriodDays": 14,
                                                "colors": [
                                                    "BLUE"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "PUBLIC",
                "security": [
                    
                ]
            },
            "delete": {
                "tags": [
                    "\uc0c1\ud488"
                ],
                "summary": "\uc0c1\ud488 \uc0ad\uc81c",
                "description": "\ud83d\udee0 **ARTISAN** (\ud310\ub9e4\uc790)\n\n\uc7a5\uc778\uc774 \ubcf8\uc778 \uc0c1\ud488\uc744 \uc0ad\uc81c\ud569\ub2c8\ub2e4.",
                "operationId": "product-delete",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "\uc0c1\ud488 ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-chatbot-sessions-sessionId-1487972696"
                                },
                                "examples": {
                                    "product-delete": {
                                        "value": {
                                            "success": true,
                                            "status": 204,
                                            "data": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "ARTISAN"
            },
            "patch": {
                "tags": [
                    "\uc0c1\ud488"
                ],
                "summary": "\uc0c1\ud488 \uc218\uc815",
                "description": "\ud83d\udee0 **ARTISAN** (\ud310\ub9e4\uc790)\n\n\uc7a5\uc778\uc774 \ubcf8\uc778 \uc0c1\ud488\uc758 \uc815\ubcf4\ub97c \uc218\uc815\ud569\ub2c8\ub2e4.",
                "operationId": "product-update",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "\uc0c1\ud488 ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api-products-productId-1826864747"
                            },
                            "examples": {
                                "product-update": {
                                    "value": {
                                        "categoryId": 1,
                                        "subcategoryId": 2,
                                        "title": "\uccad\uc790 \ub2e4\uc644 (\uc218\uc815)",
                                        "description": "\uc218\uc815\ub41c \uc124\uba85",
                                        "price": 90000,
                                        "stock": 8,
                                        "thumbnailUrl": "https://example.com/thumb2.jpg",
                                        "giftThemes": [
                                            
                                        ],
                                        "purposeTags": [
                                            
                                        ],
                                        "productionPeriodDays": null,
                                        "colors": [
                                            
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-products-productId1950243800"
                                },
                                "examples": {
                                    "product-update": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "productId": 1,
                                                "artisanId": 10,
                                                "categoryId": 1,
                                                "categoryName": "\ub3c4\uc790\uae30",
                                                "subcategoryId": 2,
                                                "subcategoryName": "\uccad\uc790",
                                                "title": "\uccad\uc790 \ub2e4\uc644",
                                                "description": "\uace0\ub824 \uccad\uc790 \ub2e4\uc644",
                                                "price": 85000,
                                                "stock": 10,
                                                "thumbnailUrl": "https://example.com/thumb.jpg",
                                                "status": "DRAFT",
                                                "createdAt": "2026-09-03T10:00:00",
                                                "updatedAt": "2026-09-03T10:00:00",
                                                "giftThemes": [
                                                    "BIRTHDAY_60TH"
                                                ],
                                                "purposeTags": [
                                                    "\ub2e4\ub3c4"
                                                ],
                                                "productionPeriodDays": 14,
                                                "colors": [
                                                    "BLUE"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "ARTISAN"
            }
        },
        "/api/chatbot/sessions/{sessionId}": {
            "delete": {
                "tags": [
                    "\ucc57\ubd07"
                ],
                "summary": "\ucc57\ubd07 \uc138\uc158 \uc885\ub8cc",
                "description": "\ud83d\udd13 **\uc778\uc99d \ubd88\ud544\uc694**\n\n\uc18c\ube44\uc790\uac00 \ub300\ud654 \uc138\uc158\uc744 \uc885\ub8cc\ud569\ub2c8\ub2e4. \uc885\ub8cc\ub41c \uc138\uc158\uc5d0\ub294 \uba54\uc2dc\uc9c0\ub97c \uc804\uc1a1\ud560 \uc218 \uc5c6\uc2b5\ub2c8\ub2e4.",
                "operationId": "chatbot-session-end",
                "parameters": [
                    {
                        "name": "sessionId",
                        "in": "path",
                        "description": "\uc138\uc158 ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-chatbot-sessions-sessionId-1487972696"
                                },
                                "examples": {
                                    "chatbot-session-end": {
                                        "value": {
                                            "success": true,
                                            "status": 204,
                                            "data": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "PUBLIC",
                "security": [
                    
                ]
            }
        },
        "/api/member/artisans/subscriptions": {
            "get": {
                "tags": [
                    "\uc7a5\uc778 \uad6c\ub3c5"
                ],
                "summary": "\uad6c\ub3c5 \uc7a5\uc778 \ubaa9\ub85d",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\ub0b4\uac00 \uad6c\ub3c5\ud55c \uc7a5\uc778 \ubaa9\ub85d\uc744 \ucee4\uc11c \ud398\uc774\uc9c0\ub124\uc774\uc158\uc73c\ub85c \ubc18\ud658\ud569\ub2c8\ub2e4.",
                "operationId": "member-subscriptions",
                "responses": {
                    "401": {
                        "description": "401",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-content-products-productId-interview16218693"
                                },
                                "examples": {
                                    "member-subscriptions-unauthorized": {
                                        "value": {
                                            "success": false,
                                            "status": 401,
                                            "errorCode": "UNAUTHORIZED",
                                            "message": "\uc778\uc99d\uc774 \ud544\uc694\ud569\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-artisans-subscriptions-684128536"
                                },
                                "examples": {
                                    "member-subscriptions": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "items": [
                                                    {
                                                        "artisanId": 10,
                                                        "businessName": "\uae40\ub3c4\uacf5 \ub3c4\uc608",
                                                        "notificationsEnabled": true,
                                                        "newProductCount": 2
                                                    }
                                                ],
                                                "nextCursor": null,
                                                "hasNext": false,
                                                "totalCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/member/me/wishes": {
            "get": {
                "tags": [
                    "\ucc1c"
                ],
                "summary": "\ucc1c \ubaa9\ub85d \uc870\ud68c",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc720\uc800\uac00 \ucc1c\ud55c \uc0c1\ud488 \ubaa9\ub85d\uc744 \ucee4\uc11c \ud398\uc774\uc9c0\ub124\uc774\uc158\uc73c\ub85c \ubc18\ud658\ud569\ub2c8\ub2e4.",
                "operationId": "member-wish-list",
                "responses": {
                    "403": {
                        "description": "403",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-content-products-productId-interview16218693"
                                },
                                "examples": {
                                    "member-wish-list-forbidden": {
                                        "value": {
                                            "success": false,
                                            "status": 403,
                                            "errorCode": "FORBIDDEN",
                                            "message": "\uc811\uadfc \uad8c\ud55c\uc774 \uc5c6\uc2b5\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-member-me-wishes-1004578112"
                                },
                                "examples": {
                                    "member-wish-list": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "items": [
                                                    {
                                                        "price": 85000,
                                                        "artisanName": "\uae40\ub3c4\uacf5 \ub3c4\uc608",
                                                        "status": "ON_SALE",
                                                        "productId": 1,
                                                        "artisanId": 10,
                                                        "name": "\uccad\uc790 \ub2e4\uc644"
                                                    }
                                                ],
                                                "nextCursor": null,
                                                "hasNext": false,
                                                "totalCount": 1
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/notifications/{notificationId}/read": {
            "patch": {
                "tags": [
                    "\uc54c\ub9bc"
                ],
                "summary": "\uc54c\ub9bc \uc77d\uc74c \ucc98\ub9ac",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc54c\ub9bc\uc744 \uc77d\uc74c \uc0c1\ud0dc\ub85c \ubcc0\uacbd\ud569\ub2c8\ub2e4.",
                "operationId": "notification-read-",
                "parameters": [
                    {
                        "name": "notificationId",
                        "in": "path",
                        "description": "\uc54c\ub9bc ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "422": {
                        "description": "422",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-content-products-productId-interview16218693"
                                },
                                "examples": {
                                    "notification-read-422": {
                                        "value": {
                                            "success": false,
                                            "status": 422,
                                            "errorCode": "BUSINESS_RULE_VIOLATION",
                                            "message": "\uc0ad\uc81c\ub41c \uc54c\ub9bc\uc740 \uc77d\uc74c \ucc98\ub9ac\ud560 \uc218 \uc5c6\uc2b5\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-content-products-productId-interview16218693"
                                },
                                "examples": {
                                    "notification-read-404": {
                                        "value": {
                                            "success": false,
                                            "status": 404,
                                            "errorCode": "NOT_FOUND",
                                            "message": "\ub9ac\uc18c\uc2a4\ub97c \ucc3e\uc744 \uc218 \uc5c6\uc2b5\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-chatbot-sessions-sessionId-1487972696"
                                },
                                "examples": {
                                    "notification-read-200": {
                                        "value": {
                                            "success": true,
                                            "status": 204,
                                            "data": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/products/categories/main": {
            "get": {
                "tags": [
                    "\uce74\ud14c\uace0\ub9ac"
                ],
                "summary": "\uba54\uc778 \uce74\ud14c\uace0\ub9ac \ubaa9\ub85d",
                "description": "\ud83d\udd13 **\uc778\uc99d \ubd88\ud544\uc694**\n\n\uba54\uc778 \ud654\uba74\uc6a9 \uce74\ud14c\uace0\ub9ac \ubaa9\ub85d\uc744 \uc870\ud68c\ud569\ub2c8\ub2e4.",
                "operationId": "category-main-list",
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-products-categories-main1684097948"
                                },
                                "examples": {
                                    "category-main-list": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": [
                                                {
                                                    "categoryId": 1,
                                                    "name": "\ub3c4\uc790\uae30"
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "PUBLIC",
                "security": [
                    
                ]
            }
        },
        "/api/products/{productId}/questions": {
            "get": {
                "tags": [
                    "\uc0c1\ud488 \ubb38\uc758"
                ],
                "summary": "\uc0c1\ud488 \ubb38\uc758 \ubaa9\ub85d",
                "description": "\ud83d\udd13 **\uc778\uc99d \ubd88\ud544\uc694**\n\n\uc0c1\ud488\uc758 \ubb38\uc758 \ubaa9\ub85d\uc744 \ud398\uc774\uc9d5\uc73c\ub85c \uc870\ud68c\ud569\ub2c8\ub2e4. \ube44\uacf5\uac1c \ubb38\uc758\ub294 \ub9c8\uc2a4\ud0b9\ub429\ub2c8\ub2e4.",
                "operationId": "product-qna-list",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "\uc0c1\ud488 ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-products-productId-questions-311681186"
                                },
                                "examples": {
                                    "product-qna-list": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "content": [
                                                    {
                                                        "questionId": 1,
                                                        "productId": 1,
                                                        "writerId": 99,
                                                        "content": "\uc81c\ud488\uc774 \uc5bc\ub9c8\ub098 \ud2bc\ud2bc\ud55c\uac00\uc694?",
                                                        "secret": false,
                                                        "createdAt": "2026-09-03T10:00:00",
                                                        "answer": null
                                                    }
                                                ],
                                                "empty": false,
                                                "first": true,
                                                "last": true,
                                                "number": 0,
                                                "numberOfElements": 1,
                                                "pageable": "INSTANCE",
                                                "size": 1,
                                                "sort": {
                                                    "empty": true,
                                                    "sorted": false,
                                                    "unsorted": true
                                                },
                                                "totalElements": 1,
                                                "totalPages": 1
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "PUBLIC",
                "security": [
                    
                ]
            },
            "post": {
                "tags": [
                    "\uc0c1\ud488 \ubb38\uc758"
                ],
                "summary": "\uc0c1\ud488 \ubb38\uc758 \ub4f1\ub85d",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc18c\ube44\uc790\uac00 \uc0c1\ud488\uc5d0 \ubb38\uc758\ub97c \ub4f1\ub85d\ud569\ub2c8\ub2e4.",
                "operationId": "product-qna-ask",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "\uc0c1\ud488 ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api-products-productId-questions1139736559"
                            },
                            "examples": {
                                "product-qna-ask": {
                                    "value": {
                                        "content": "\uc81c\ud488\uc774 \uc5bc\ub9c8\ub098 \ud2bc\ud2bc\ud55c\uac00\uc694?",
                                        "secret": false
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "201",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-products-productId-questions-148092557"
                                },
                                "examples": {
                                    "product-qna-ask": {
                                        "value": {
                                            "success": true,
                                            "status": 201,
                                            "data": {
                                                "questionId": 1,
                                                "productId": 1,
                                                "writerId": 99,
                                                "content": "\uc81c\ud488\uc774 \uc5bc\ub9c8\ub098 \ud2bc\ud2bc\ud55c\uac00\uc694?",
                                                "secret": false,
                                                "createdAt": "2026-09-03T10:00:00",
                                                "answer": null
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/products/{productId}/reviews": {
            "get": {
                "tags": [
                    "\uc0c1\ud488 \ud6c4\uae30"
                ],
                "summary": "\uc0c1\ud488 \ud6c4\uae30 \ubaa9\ub85d",
                "description": "\ud83d\udd13 **\uc778\uc99d \ubd88\ud544\uc694**\n\n\uc0c1\ud488\uc758 \ud6c4\uae30 \ubaa9\ub85d\uc744 \ud398\uc774\uc9d5\uc73c\ub85c \uc870\ud68c\ud569\ub2c8\ub2e4.",
                "operationId": "product-review-list",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "\uc0c1\ud488 ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-products-productId-reviews-966539995"
                                },
                                "examples": {
                                    "product-review-list": {
                                        "value": {
                                            "success": true,
                                            "status": 200,
                                            "data": {
                                                "content": [
                                                    {
                                                        "reviewId": 1,
                                                        "productId": 1,
                                                        "writerId": 99,
                                                        "orderItemId": 100,
                                                        "rating": 5,
                                                        "content": "\uc815\ub9d0 \ub9cc\uc871\ud569\ub2c8\ub2e4!",
                                                        "createdAt": "2026-09-03T10:00:00"
                                                    }
                                                ],
                                                "empty": false,
                                                "first": true,
                                                "last": true,
                                                "number": 0,
                                                "numberOfElements": 1,
                                                "pageable": "INSTANCE",
                                                "size": 1,
                                                "sort": {
                                                    "empty": true,
                                                    "sorted": false,
                                                    "unsorted": true
                                                },
                                                "totalElements": 1,
                                                "totalPages": 1
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "PUBLIC",
                "security": [
                    
                ]
            },
            "post": {
                "tags": [
                    "\uc0c1\ud488 \ud6c4\uae30"
                ],
                "summary": "\uc0c1\ud488 \ud6c4\uae30 \ub4f1\ub85d",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc18c\ube44\uc790\uac00 \uad6c\ub9e4\ud55c \uc0c1\ud488\uc5d0 \ud6c4\uae30\ub97c \ub4f1\ub85d\ud569\ub2c8\ub2e4. \ub3d9\uc77c \uc8fc\ubb38 \ud56d\ubaa9\uc5d0 \uc911\ubcf5 \ub4f1\ub85d \ubd88\uac00\ud569\ub2c8\ub2e4.",
                "operationId": "product-review-write",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "\uc0c1\ud488 ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api-products-productId-reviews-68642346"
                            },
                            "examples": {
                                "product-review-write": {
                                    "value": {
                                        "orderItemId": 100,
                                        "rating": 5,
                                        "content": "\uc815\ub9d0 \ub9cc\uc871\ud569\ub2c8\ub2e4!"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "201",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-products-productId-reviews2015801556"
                                },
                                "examples": {
                                    "product-review-write": {
                                        "value": {
                                            "success": true,
                                            "status": 201,
                                            "data": {
                                                "reviewId": 1,
                                                "productId": 1,
                                                "writerId": 99,
                                                "orderItemId": 100,
                                                "rating": 5,
                                                "content": "\uc815\ub9d0 \ub9cc\uc871\ud569\ub2c8\ub2e4!",
                                                "createdAt": "2026-09-03T10:00:00"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/products/{productId}/status": {
            "patch": {
                "tags": [
                    "\uc0c1\ud488"
                ],
                "summary": "\uc0c1\ud488 \uc0c1\ud0dc \ubcc0\uacbd",
                "description": "\ud83d\udee0 **ARTISAN** (\ud310\ub9e4\uc790)\n\n\uc0c1\ud488 \uc0c1\ud0dc\ub97c \ubcc0\uacbd\ud569\ub2c8\ub2e4. \ud5c8\uc6a9 \uc804\uc774: DRAFT\u2192ON_SALE|HIDDEN, ON_SALE\u2192SOLD_OUT|HIDDEN, SOLD_OUT\u2192ON_SALE|HIDDEN, HIDDEN\u2192ON_SALE|DRAFT",
                "operationId": "product-change-status",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "\uc0c1\ud488 ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/api-products-productId-status895114410"
                            },
                            "examples": {
                                "product-change-status": {
                                    "value": {
                                        "status": "ON_SALE"
                                    }
                                },
                                "product-change-status-unauthorized": {
                                    "value": {
                                        "status": "ON_SALE"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-chatbot-sessions-sessionId-1487972696"
                                },
                                "examples": {
                                    "product-change-status": {
                                        "value": {
                                            "success": true,
                                            "status": 204,
                                            "data": null
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-content-products-productId-interview16218693"
                                },
                                "examples": {
                                    "product-change-status-unauthorized": {
                                        "value": {
                                            "success": false,
                                            "status": 401,
                                            "errorCode": "UNAUTHORIZED",
                                            "message": "\uc778\uc99d\uc774 \ud544\uc694\ud569\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "ARTISAN"
            }
        },
        "/api/products/{productId}/wish": {
            "post": {
                "tags": [
                    "\ucc1c"
                ],
                "summary": "\ucc1c \ub4f1\ub85d",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc720\uc800\uac00 \uc0c1\ud488\uc744 \ucc1c \ubaa9\ub85d\uc5d0 \ucd94\uac00\ud569\ub2c8\ub2e4. \uc774\ubbf8 \ucc1c\ud55c \uc0c1\ud488\uc740 \uc911\ubcf5 \ub4f1\ub85d\ub418\uc9c0 \uc54a\uc2b5\ub2c8\ub2e4.",
                "operationId": "product-wish",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "\uc0c1\ud488 ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-chatbot-sessions-sessionId-1487972696"
                                },
                                "examples": {
                                    "product-wish": {
                                        "value": {
                                            "success": true,
                                            "status": 204,
                                            "data": null
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "content": {
                            "application/json;charset=UTF-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-content-products-productId-interview16218693"
                                },
                                "examples": {
                                    "product-wish-unauthorized": {
                                        "value": {
                                            "success": false,
                                            "status": 401,
                                            "errorCode": "UNAUTHORIZED",
                                            "message": "\uc778\uc99d\uc774 \ud544\uc694\ud569\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "403",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-content-products-productId-interview16218693"
                                },
                                "examples": {
                                    "product-wish-forbidden": {
                                        "value": {
                                            "success": false,
                                            "status": 403,
                                            "errorCode": "FORBIDDEN",
                                            "message": "\uc811\uadfc \uad8c\ud55c\uc774 \uc5c6\uc2b5\ub2c8\ub2e4"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            },
            "delete": {
                "tags": [
                    "\ucc1c"
                ],
                "summary": "\ucc1c \ucde8\uc18c",
                "description": "\ud83d\udd11 **USER** \uc774\uc0c1\n\n\uc720\uc800\uac00 \uc0c1\ud488\uc744 \ucc1c \ubaa9\ub85d\uc5d0\uc11c \uc81c\uac70\ud569\ub2c8\ub2e4. \ucc1c\ud558\uc9c0 \uc54a\uc740 \uc0c1\ud488\uc744 \ucde8\uc18c\ud574\ub3c4 \uc5d0\ub7ec\uac00 \ubc1c\uc0dd\ud558\uc9c0 \uc54a\uc2b5\ub2c8\ub2e4.",
                "operationId": "product-unwish",
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "\uc0c1\ud488 ID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/api-chatbot-sessions-sessionId-1487972696"
                                },
                                "examples": {
                                    "product-unwish": {
                                        "value": {
                                            "success": true,
                                            "status": 204,
                                            "data": null
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-required-role": "USER"
            }
        },
        "/api/chatbot/sessions/{sessionId}/messages": {
            "get": {
                "tags": [
                    "\ucc57\ubd07"
                ],
                "summary": "\ub300\ud654 \uc774\ub825 \uc870\ud68c",
[...]
